.document-notes-menu-icon {
  display: inline-block;
  position: relative;
}

.unread-notes {
  align-items: center;
  background-color: var(--bright-blue);
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  font-size: 9px;
  height: 13px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 13px;
}

.document-notes-menu-icon.active .unread-notes {
  right: -2px;
  top: -2px;
}

