.project-members-table {
  margin-top: 2em;
  max-width: 760px;
}

.project-members-table tbody td:nth-child(2) {
  width: 50%;
}

.project-members-table td button.select-trigger:disabled {
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  box-shadow:
    inset 0 0 0 150px rgba(0, 0, 0, 0),
    0 2px 3px -2px rgba(0, 0, 0, 0.12);
  color: var(--button-font-color);
  cursor: auto;
}

.project-members-table td button.owner {
  min-width: 120px;
  padding: 4px 8px;
  font-weight: 500;
}

.project-members-table td .anonymous-member {
  color: var(--font-light);
}

.project-members-table td .anonymous-member button {
  height: 24px;
  margin-left: 2px;
  padding: 0;
  vertical-align: sub;
  width: 24px;
}

.project-members-table td .anonymous-member button svg {
  left: 0;
  position: relative;
  top: 0;
}

.project-members-table td .anonymous-member button:hover svg {
  color: var(--font-dark);
}

.project-members-table td .invitation-sent {
  color: var(--font-light);
  display: inline-block;
  padding: 0 0.9em;
}
