.dashboard-projects-empty {
  align-items: center;
  display: flex;
  height: 100%; 
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.dashboard-projects-empty h1 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0;
  padding: 1em 0 0 0;
}

.dashboard-projects-empty p {
  color: var(--gray-600); 
  font-size: var(--font-small);
  max-width: 70ch;
  padding: 0em 0 2em 0;
}

.dashboard-projects-empty .dashboard-projects-empty-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-projects-empty .dashboard-projects-empty-cta button {
  min-height: 55px;
  min-width: 365px;
}

.dashboard-projects-home header {
  border-bottom: 1px solid var(--gray-200);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 40px;
}

.dashboard-projects-home main {
  padding: 30px 40px;
}

.dashboard-projects-home .dashboard-projects-grid  {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;  
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 30px 0 40px 0;
}