.dashboard-projects-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-projects-empty {
  align-items: center;
  display: flex;
  height: 100%; 
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.dashboard-projects-empty h1 {
  font-family: Inter;
  font-size: var(--font-small);
  font-weight: 500;
  margin: 0;
  padding: 0 0 1.2em 0;
}

.dashboard-projects-empty .dashboard-projects-empty-cta {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.dashboard-projects-empty .dashboard-projects-empty-cta button {
  min-height: 55px;
  min-width: 365px;
}

.dashboard-projects-home section {
  padding: 0 30px;
}

.dashboard-projects-home .dashboard-banner {
  background-color: var(--sand);
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
  padding: 20px 30px;
}

.dashboard-projects-home .dashboard-banner h1 {
  font-size: 1.2em;
  margin: 0;
}

.dashboard-projects-home .dashboard-banner p {
  font-size: var(--font-small);
  margin: 0;
}

.dashboard-projects-home main {
  flex-grow: 1;
}

.dashboard-projects-home .dashboard-projects-grid  {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;  
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 30px 0 40px 0;
}

.dashboard-projects-notifications {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.dashboard-projects-notifications button {
  display: flex;
  padding: 16px 32px;
}

.dashboard-projects-notifications a,
.dashboard-projects-notifications a:hover {
  text-decoration: none;
}