button.privacy-selector-trigger {
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-size: var(--font-tiny);
  font-weight: 500;
  padding: 0 0.75rem;
  width: auto;
}

button.privacy-selector-trigger > span {
  padding: 1px 0 0 3px;
  vertical-align: bottom;
}

button.privacy-selector-trigger[data-privacy='private']  {
  background-color: var(--bright-blue);
  color: #fff;
}

button.privacy-selector-trigger[data-privacy='private'] svg {
  color: #fff;
}

.privacy-selector .dropdown-indicator {
  left: 7px;
  top: 9px;
}

.privacy-selector .dropdown-item {
  display: block;
  padding: 10px 10px 10px 38px;
  position: relative;
}

.privacy-selector .dropdown-item svg {
  color: var(--font-dark);
  vertical-align: middle;
}

.privacy-selector .dropdown-item strong {
  font-weight: 600;
}

.privacy-selector .dropdown-item p {
  padding-top: 0;
}