.collection-dialog-fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.collection-dialog-icon-button {
  font-family: inherit;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  height: 25px !important;
  width: 25px !important;
  max-width: 30px !important;
  min-width: 40px;
  padding: 0 !important;
}

.collection-dialog-icon-button:hover {
  background-color: var(--gray-300) !important;
}

.collection-dialog-icon-button:focus {
  box-shadow: 0 0 0 2px var(--gray-300);
}

.collection-dialog-babel {
  font-size: 15px;
  color: var(--violet-11);
  width: 90px;
  text-align: right;
}

.collection-dialog-input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.collection-dialog-input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
