
.document-card-image-container {
  width: 200px;
  height: 200px;
}

.document-card-image-container img {
  object-fit: cover;
}

.document-card-image-container .spinner-container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
