.document-card {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.document-card:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18), 0 2px 8px -2px rgba(0, 0, 0, 0.28);
}

.document-card-body {
  box-sizing: border-box;
  align-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: var(--gray-300);
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
}

.document-card-footer {
  box-sizing: border-box;
  display: flex;
  height: 56px;
  width: 200px;
  line-height: 120%;
  flex-wrap: wrap;
  padding: 8px;
  position: relative;
  background-color: var(--gray-200);
}

.document-card-actions {
  position: absolute;
  top: 10px;
  right: 1px;
}

.document-card-name {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  width: 90%;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  overflow-wrap: anywhere;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.document-card-container h1 a,
.document-card-container h1 span {
  color: var(--font-dark);
  display: block;
  display: -webkit-box;
  font-weight: 400;
  max-height: 3.2em;
  line-clamp: 2;
  overflow: hidden;
  overflow-wrap: anywhere;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
