.dialog-content.document-metadata {
  max-width: 600px;
}

.dialog-content.document-metadata .field {
  align-items: center;
  justify-content: flex-start;
}

.dialog-content.document-metadata .field label {
  margin-right: 1em;
  text-align: right;
  min-width: 160px;
}

.dialog-content.document-metadata .actions {
  display: flex;
  justify-content: flex-end;
}