.view-document-metadata {
  font-size: var(--font-tiny);
}

.view-document-metadata > .metadata-grid {
  padding: 20px 0px 20px 0px;
}

.view-document-metadata > .metadata-grid > .row {
  display: flex;
}

.view-document-metadata > .metadata-grid > .row:nth-child(odd) {
  background-color: var(--gray-50);
}

.view-document-metadata > .metadata-grid > .row > .column {
  padding: 12px;
  width: 50%;
}

.view-document-metadata > .empty {
  padding: 20px 0px 20px 0px;
}

.view-document-metadata > .actions {
  display: flex;
  justify-content: flex-end;
}