header.brand-header > .brand-header-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

header.brand-header
  > .brand-header-container
  > .branding-left-slot
  > .separator {
  width: 2px;
  height: 20px;
  margin-left: 5px;
  background-color: var(--textColor);
  z-index: 9999;
}

header.brand-header
  > .brand-header-container
  > .branding-left-slot
  > .site-name {
  padding-left: 5px;
  color: var(--textColor);
  font-size: 20px;
  padding-top: 4px;
  font-weight: 500;
}

.branding-left-slot {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
