header.brand-header > .brand-header-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

header.brand-header > .brand-header-container > .separator {
  width: 2px;
  height: 20px;
  margin-left: 5px;
  background-color: var(--textColor);
  z-index: 9999;
}

header.brand-header > .brand-header-container > .site-name {
  padding-left: 5px;
  color: var(--textColor);
  opacity: 0.8;
  font-size: 12px;
  padding-top: 4px;
  text-transform: uppercase;
  font-weight: 600;
}