footer.brand-footer > .bottom_links {
  display: flex;
  flex-direction: row;
}

footer.brand-footer > .logo-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  width: 100%;
  font-weight: lighter;
}