.ta-drawer.ta-left-drawer {
  background-color: var(--gray-50);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.3);
  flex-grow: 0;   
  flex-shrink: 0; 
  flex-basis: 0;
  overflow-x: hidden;
  position: relative;
  scroll-padding: 40px;
  z-index: 9;
}

.ta-left-drawer aside {
  position: absolute;
  top: 5px;
  left: 0;
  width: 280px;
}

.ta-left-drawer aside .tablist {
  background-color: var(--gray-50);
}