.assignment-detail-container {
  flex-grow: 1;
}

.assignment-detail-pane {
  padding-top: 10px;
  padding-left: 20px;
  border-left: 1px solid var(--gray-200);
}

.assignment-detail-title-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.assignment-detail-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
}

.assignment-detail-description-row {
  padding: 14px 30px 0 0;
  display: flex;
  flex-direction: row;
}

.assignment-detail-description {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-600);
  max-height: 150px;
  overflow-y: auto;
}

.assignment-detail-team {
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  width: 25%;
}

.assignment-detail-team-list {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.assignment-detail-team-avatar {
  margin-left: -8px;
}

.assignment-detail-team-avatar .avatar {
  border: 2px solid var(--gray-50);
  height: 34px;
  width: 34px;
}

.assignment-detail-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
