.doc-lib-title {
  padding: 20px 20px 0px 20px;
}

.doc-lib-header {
  background-color: #fff;
  border-right: 1px solid var(--gray-100);
}

.doc-lib-header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.doc-lib-header section.doc-lib-header-top {
  border-bottom: 1px solid var(--gray-100);
  padding: 20px 30px;
}

.doc-lib-header h1 {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

.doc-lib-header h3 {
  font-size: 14px;
  margin: 0;
  padding: 10px 10px 10px 20px;
}

.doc-lib-header h1 svg {
  color: var(--font-light);
  padding-right: 10px;
  vertical-align: text-bottom;
}

.doc-lib-header .doc-lib-header-top-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.doc-lib-header .doc-lib-header-top-actions button {
  border: 1px solid var(--gray-400);
  height: 30px;
  width: 30px;
}

.doc-lib-header .doc-lib-header-top-actions button.new-project {
  border: none;
  font-size: 12px;
  font-weight: 500;
  height: auto;
  margin-right: 3px;
  padding: 6px 12px 6px 8px;
  width: auto;
}

.doc-lib-header section.doc-lib-header-bottom {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.doc-lib-header section.doc-lib-header-bottom.collections {
  max-height: 400px;
}

.doc-lib-header section.doc-lib-header-bottom.collections > ul {
  max-height: 100%;
  overflow-y: scroll;
}

.doc-lib-header section.doc-lib-header-bottom:not(.collections) {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-200);
}

.doc-lib-header-bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.doc-lib-header-bottom li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: var(--font-small);
  font-weight: 500;
  padding: 10px 20px 10px 20px;
}

.doc-lib-header-bottom li > svg {
  margin-right: 15px;
}

.doc-lib-header-bottom .doc-lib-header-tabs li.active {
  background-color: var(--gray-50);
}

.doc-lib-content {
  display: flex;
}

.doc-lib-content button {
  border-radius: 0px;
}

.doc-lib-section-content {
  flex-grow: 1;
  padding: 0px 20px 0px 20px;
}

.doc-lib-section-content-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.doc-lib-section-content-header > .doc-lib-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}

.doc-lib-section-content-header > .doc-lib-buttons > .doc-lib-search {
  flex-grow: 1;
}

.doc-lib-section-content-header > .doc-lib-buttons > .toggle-display-group > button {
  padding: 8px 4px;
}

.doc-lib-section-content-header h3 {
  margin-right: 40px;
}

.dialog-content-doc-lib {
  animation: dialogEnter 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  overflow-y: auto;
  z-index: 9999;
}

.doc-lib-confirm-overlay {
  z-index: 10000 !important;
}

.doc-lib-confirm-content {
  z-index: 10100 !important;
}

.doc-lib-footer {
  background-color: var(--gray-50);
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}