[data-radix-popper-content-wrapper] {
  z-index: 999 !important;
}

.dropdown-content, .dropdown-subcontent {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.12),
    0 2px 12px -2px rgba(0, 0, 0, 0.12),
    0 8px 24px -4px rgba(0, 0, 0, 0.08);
  line-height: 160%;
  min-width: 160px;
  padding: 5px 0;
}

.dropdown-item,
.dropdown-subtrigger {
  align-items: center;
  border-radius: calc(var(--border-radius) - 1px);
  color: var(--font-dark);
  cursor: pointer;
  display: flex;
  font-size: var(--font-tiny);
  font-weight: 400;
  padding: 2px 10px;
  margin: 0 5px;
  outline: none;
  user-select: none;
}

.dropdown-item a[href] {
  color: var(--font-dark);
}

.dropdown-item a[href]:hover {
  text-decoration: none;
}

.dropdown-item p {
  color: var(--font-light);
  line-height: 150%;
  margin: 0;
  max-width: 300px;
  padding: 5px 5px 5px 0;
}

.dropdown-item svg,
.dropdown-subtrigger svg {
  color: var(--font-light);
  padding-right: 7px;
  position: relative;
  top: -0.5px;
}

.dropdown-item.no-icon::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 16px;
}

.dropdown-item svg.destructive {
  color: var(--red-500);
}

.dropdown-item svg.dark {
  color: var(--gray-900);
}

.dropdown-item[data-highlighted],
.dropdown-checkbox-item[data-highlighted],
.dropdown-radio-item[data-highlighted],
.dropdown-subtrigger[data-highlighted] {
  background-color: rgba(0, 0, 0, 0.08);  
}

.dropdown-item[data-disabled],
.dropdown-checkbox-item[data-disabled],
.dropdown-radio-item[data-disabled],
.dropdown-sub-trigger[data-disabled] {
  pointer-events: none;
}

.right-slot {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.right-slot svg {
  color: var(--font-dark);
  margin-right: -5px;
  padding-right: 0;
}

.dropdown-indicator {
  left: 9px;
  top: 5px;
  position: absolute;
}

.dropdown-divider {
  border-top: 1px solid var(--gray-200);
  margin: 0.25rem 0.5rem;
}

.dropdown-label {
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 500;
  padding: 0.125rem 10px 0 10px;
  margin: 0 5px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}