.annotation-popup {
  background-color: #fff;
  border-radius: 6px;
  box-shadow:
    2.4px 3.9px 3.3px rgba(0, 0, 0, 0.024),
    6.5px 10.8px 9.1px rgba(0, 0, 0, 0.035),
    15.7px 25.9px 22px rgba(0, 0, 0, 0.046),
    52px 86px 73px rgba(0, 0, 0, 0.07);
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  pointer-events: all;
  width: 340px;
}

.annotation-card.private {
  border-radius: 6px;
}

.annotation-popup > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.annotation-popup > header,
.annotation-popup > ul li {
  padding: 10px;
  position: relative;
} 

.annotation-popup > ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  transition: background-color 1500ms;
} 

.annotation-popup > ul li:first-child {
  border-top: none;
}

.annotation-popup > ul li.is-new {
  background-color: var(--emphasis-light);
  border-color: var(--emphasis-dark);
}

.annotation-popup > ul li p {
  font-size: var(--font-tiny);
  line-height: 140%;
  margin: 0;
  padding: 14px 4px 4px 4px;
}
