.ia-thumbnail-strip .thumbnail-strip-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: var(--font-tiny);
}

.ia-thumbnail-strip .thumbnail-wrapper {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 20px 10px 0px 10px;
  width: 100%;
}

.ia-thumbnail-strip .thumbnail-strip-item .label {
  max-width: 90%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ia-thumbnail-strip .thumbnail {
  border-radius: calc(var(--border-radius) + 5px);
  padding: 3px;
  position: relative;
}

.ia-thumbnail-strip .thumbnail-strip-item.selected .thumbnail {
  background-color: var(--brighter-blue);
}

.ia-thumbnail-strip .thumbnail:hover {
  background-color: var(--gray-300);
}

.ia-thumbnail-strip .thumbnail img {
  border: 2px solid #fff;
  border-radius: calc(var(--border-radius) + 3px);
  display: block;
  height: 120px;
  object-fit: cover;
  width: 120px;
}

.ia-thumbnail-strip .thumbnail .source-activity {
  bottom: 10px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
}

.ia-thumbnail-strip .thumbnail .source-activity li {
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  height: 12px;
  margin-left: -4px;
  width: 12px;
}

.ia-thumbnail-strip .thumbnail .source-activity li > span {
  display: none;
}