.badge {
  align-items: center;
  background-color: var(--gray-200);
  color: var(--gray-900);
  border-radius: 9999px;
  display: inline-flex;
  font-size: 11px;
  font-weight: 500;
  gap: 3px;
  height: 2em;
  justify-content: center;
  margin: 0 7px;
  min-width: 8px;
  padding: 0 10px;
  border: 1px solid transparent;
}

.badge.disabled {
  background-color: white;
  color: var(--gray-700);
  border: 1px solid var(--gray-300);
}