.badge {
  align-items: center;
  background-color: var(--gray-200);
  border-radius: 9999px;
  display: inline-flex;
  font-size: 11px;
  font-weight: 500;
  gap: 3px;
  height: 2em;
  justify-content: center;
  margin: 0 7px;
  min-width: 8px;
  padding: 0 10px;
}

.badge.disabled {
  color: var(--gray-400);
  background-color: var(--gray-100);
}