.annotation-creator {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: var(--font-tiny);
  line-height: 1.2em;
  white-space: nowrap;
  width: 100%;
}

.annotation-creator .avatar {
  margin-right: 10px;
  margin-top: -2px;
}

.annotation-created-by {
  margin-left: 3px;
  flex-grow: 1;
}

.annotation-created-by .anonymous {
  color: var(--font-light);
}

.annotation-creator address {
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
}

.annotation-creator time {
  color: var(--font-light);
  font-size: 0.875em;
}