.popover-content {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.12),
    0 2px 12px -2px rgba(0, 0, 0, 0.12),
    0 8px 24px -4px rgba(0, 0, 0, 0.08);
  line-height: 160%;
  width: 320px;
}

.popover-close {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: var(--font-light);
  cursor: pointer;
  display: inline;
  font-size: var(--font-small);
  margin: 0;
  padding: 0;
}

.popover-arrow {
  fill: #fff;
  margin-top: -1px;
  stroke: #c6c6c6;
  z-index: -1;
}

