###
# Public vars are available on server and client
###

# PUBLIC_DEFAULT_LANGUAGE="en" # en is the default fallback

# Supabase 
PUBLIC_SUPABASE="https://your-project.supabase.co"
PUBLIC_SUPABASE_API_KEY="your-anonymous-key"

# IIIF server configuration
PUBLIC_IIIF_CONFIGURATION="IIIF_CLOUD"
# PUBLIC_IIIF_CONFIGURATION="SUPABASE_CANTALOUPE"
# PUBLIC_IIIF_CANTALOUPE_PATH="/iiif" 

# Usersnap feedback form
PUBLIC_USERSNAP_GLOBAL_API_KEY="usersnap-global-api-key"
PUBLIC_USERSNAP_PROJECT_API_KEY="usersnap-project-api-key"

# Google Analytics
PUBLIC_GOOGLE_ANALYTICS_TAG_ID="google-analytics-tag"

# Configuration
PUBLIC_ENABLE_USER_INVITE=TRUE    # When 'TRUE' Org Admins can invite email/password users from the User Management UI

###
# Non-public vars stay on the server
###

# Optional: if the Astro server needs a different URL to reach
# Supabase, set this here. If not set, PUBLIC_SUPABASE will
# be used both on the server and the browser
# SUPABASE_SERVERCLIENT_URL ="https://your-project.supabase.co"

# Secret 'salt' to compute the realtime room identifiers
ROOM_SECRET="your-room-secret"

# IIIF server location
IIIF_URL="http://www.example.com/iiif/public/resources"
IIIF_KEY="your-iiif-server-api-key"
IIIF_PROJECT_ID="iiif-project-uuid-for-this-app"

# Supabase
SUPABASE_SERVICE_KEY="your-supabase-service-key"

# Mail - Used for Transactional Emails (invites, etc.)
MAIL_HOST=<your email host>
MAIL_PORT=<your email.port>
MAIL_USERNAME=<your email username>
MAIL_PASSWORD=<your email password>
MAIL_FROM_ADDRESS=<the from address for emails>