dist/
.astro/
.netlify/
.vscode/
.idea/
src/plugins/generated
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.production
.idea

src/components/Plugins/deployedPlugins.ts
plugins/**
public/pdf.worker.min.mjs

.DS_Store

pdf.worker.min.mjs

recogito.code-workspace

src/plugins/generated
