.forgot-password h1 {
  margin-top: 0;
}

.forgot-password p {
  font-size: var(--font-small);
}

.forgot-password button {
  margin-top: 2em;
}

.forgot-password .error {
  color: var(--red-500);
}

.forgot-password .success {
  text-align: center;
}

.forgot-password .success p {
  max-width: 700px;
}