.manage-users {
  padding: 20px 40px;
  width: 100%;
}

.manage-users button.select-trigger {
  justify-content: space-between;
}

.invite-users.dialog-content .error {
  color: var(--red-500);
  font-size: var(--font-tiny);
  padding: 10px 0;
}