.project-collaboration {
  padding: 20px 30px;
  box-sizing: border-box;
}

.project-collaboration button.select-trigger {
  justify-content: space-between;
}

.project-collaboration p.anonymous-warning {
  background-color: var(--red-500-10);
  border: 1px solid var(--red-500);
  border-radius: var(--border-radius);
  color: var(--red-500);
  font-size: var(--font-small);
  max-width: 60ch;
  margin: 1em 0 1em 0;
  padding: 0.4em 0.6em;
}

.project-collaboration p.anonymous-warning a {
  color: var(--red-500);
  text-decoration: underline;
}

.invite-users.dialog-content .error {
  color: var(--red-500);
  font-size: var(--font-tiny);
  line-height: 170%;
  padding: 10px 0;
}

.project-collaboration-request-header {
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

.project-collaboration-ignored-switch {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.project-collaboration-link-container {
  width: 750px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.project-collaboration-link-input {
  width: 500px;
  margin-left: 10px;
}

.project-collaboration-no-requests {
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.project-collaboration-link-button {
  height: 36px;
  margin-left: 10px;
  white-space: nowrap;
}

.project-collaboration-title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 760px;
}
