.import-iiif-dialog input {
  margin-top: 1em;
  width: 100%;
}

.import-iiif-dialog input.invalid {
  border-color: var(--input-error-color);
}

.import-iiif-dialog input.invalid:focus {
  box-shadow: 0 0 0 1px var(--input-error-color);
}

.import-iiif-dialog p.message {
  align-items: center;
  display: flex;
  font-size: var(--font-tiny);
  gap: 0.5em;
  margin: 0.4em 5px;
}

.import-iiif-dialog .message.fetching {
  color: #2789e4;
}

.import-iiif-dialog .message.valid {
  color: var(--green-500);
}

.import-iiif-dialog .message.invalid {
  color: var(--red-500);
}

.import-iiif-dialog .buttons {
  padding: 1em 0 0 0;
  text-align: right;
}