.assignment-wizard .tab-general textarea {
  background-color: var(--gray-50);
  height: 100%;
  resize: none;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.assignment-wizard label {
  margin-bottom: 7px;
}

.assignment-wizard input {
  background-color: var(--gray-50);
  margin-bottom: 30px;
}
