.anno-drawer-panel.filter-panel {
  font-size: var(--font-tiny);
  padding: 0 20px;
}

.anno-drawer-panel.filter-panel section {
  padding: 15px 0;
}

.anno-drawer-panel.filter-panel section + section {
  border-top: 1px solid var(--gray-300);
  margin-top: 1rem;
}

.anno-drawer-panel.filter-panel section > section {
  padding: 10px 0 0 0;
}

.anno-drawer-panel.filter-panel section > section,
.anno-drawer-panel.filter-panel section > section + section {
  border-top: none;
  margin-top: 0;
}

.anno-drawer-panel.filter-panel h2 {
  align-items: center;
  display: flex;
  font-family: Inter;
  font-size: var(--font-tiny);
  gap: 0.5rem;
  margin: 0.25rem 0 0.75rem 0;
}

.anno-drawer-panel.filter-panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.anno-drawer-panel.filter-panel .filter-toggle-buttons ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.anno-drawer-panel.filter-panel button.toggle {
  all: unset;
  background-color: var(--gray-300);
  border-radius: var(--border-radius);
  cursor: pointer;
  line-height: 100%;
  padding: 0.5rem 0.625rem;
}

.anno-drawer-panel.filter-panel button.toggle[data-state="on"] {
  background-color: var(--bright-blue);
  color: #fff;
}

.anno-drawer-panel.filter-panel  button.toggle:focus-visible {
  box-shadow: 0 0 0 2px black;
}

