.invite-list-section {
  width: 90%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: 'border .24s ease-in-out';
}

.invite-table-container {
  padding-top: 12px;
  padding-bottom: 12px;
}
