.dashboard-header {
  background-color: #fff;
  margin-top: 60px;
}

.dashboard-header section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-header section.dashboard-header-top {
  padding: 30px 30px 25px 30px;
}

.dashboard-header h1 {
  display: flex;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
}

.dashboard-header h1 svg {
  color: var(--font-light);
  padding-right: 10px;
  vertical-align: text-bottom;
}

.dashboard-header .dashboard-header-top-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.dashboard-header .dashboard-header-top-actions button {
  border: 1px solid var(--gray-400);
  height: 30px;
  width: 30px;
}

.dashboard-header .dashboard-header-top-actions button.new-project {
  border: none;
  font-size: 12px;
  font-weight: 500;
  height: auto;
  padding: 8px 12px 8px 8px;
  width: auto;
}

.dashboard-header
  section.dashboard-header-bottom
  .dashboard-header-bottom-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dashboard-header section.dashboard-header-bottom {
  padding: 6px 30px 0 30px;
}

.dashboard-header-bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dashboard-header-bottom li {
  display: inline-block;
}

.dashboard-header-bottom li + li {
  margin-left: 18px;
}

.dashboard-header-bottom li button {
  background: none;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  box-shadow: none;
  color: var(--font-light);
  font-size: var(--font-tiny);
  padding: 8px 4px;
}

.dashboard-header-bottom .dashboard-header-tabs li:hover button {
  border-color: var(--gray-200);
}

.dashboard-header-bottom .dashboard-header-tabs li.active button {
  border-color: var(--bright-blue);
  color: var(--bright-blue);
  font-weight: 500;
}

.dashboard-header-bottom li button:hover {
  background: none;
  box-shadow: none;
}
