.dashboard-header {
  background-color: #fff;
  margin-top: 60px;
}

.dashboard-header section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-header > section.dashboard-header-container {
  padding: 30px 30px 25px 30px;
}

.dashboard-header h2 {
  display: flex;
  font-size: 1em;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 15px
}

.dashboard-header h1 svg {
  color: var(--font-light);
  padding-right: 10px;
  vertical-align: text-bottom;
}

.dashboard-header > section.dashboard-header-container {
  padding: 30px 30px 20px 30px;
}

.dashboard-header > section.dashboard-header-container > .dashboard-header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.dashboard-header > section.dashboard-header-container > .dashboard-header-actions > ul.dashboard-header-list-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dashboard-header > section.dashboard-header-container > .dashboard-header-actions > ul.dashboard-header-list-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*.dashboard-header > section.dashboard-header-container > .dashboard-header-actions > ul.dashboard-header-list-actions button {*/
/*  border: 1px solid var(--gray-400);*/
/*  height: 30px;*/
/*  width: 30px;*/
/*}*/

.dashboard-header > section.dashboard-header-container > .dashboard-header-actions > ul.dashboard-header-list-actions li {
  display: inline-block;
}

.dashboard-header > section.dashboard-header-container > .dashboard-header-actions > ul.dashboard-header-list-actions li + li {
  margin-left: 18px;
}

.dashboard-header li button {
  background: none;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  box-shadow: none;
  color: var(--font-light);
  font-size: var(--font-tiny);
  padding: 8px 4px;
}

.dashboard-header li button:hover {
  background: none;
  box-shadow: none;
}

.dashboard-header > section.dashboard-header-container > .dashboard-header-actions > .dashboard-header-button-actions {
  margin-left: 24px;
}

.dashboard-header > section.dashboard-header-container > .dashboard-header-actions > .dashboard-header-button-actions button.new-project {
  border: none;
  font-size: 12px;
  font-weight: 500;
  height: auto;
  padding: 8px 12px 8px 8px;
  width: auto;
}