.annotation-popup,
.a9s-popup,
.r6o-popup {
  animation: popupFadeIn 200ms ease-in;
  border-radius: 5px;
  box-shadow:
    1px 2px 4px rgba(0, 0, 0, 0.02),
    6px 2px 9px rgba(0, 0, 0, 0.03),
    7px 12px 22px rgba(0, 0, 0, 0.06),
    12px 24px 73px rgba(0, 0, 0, 0.07);
  font-family: Inter;
  max-height: 95vh;
  overflow-y: auto;
  width: 340px;
  z-index: 9999;
}

.annotation-popup .annotation {
  border-radius: 0;
}

.r6o-popup-sr-only, .r6o-popup-sr-only:active, .r6o-popup-sr-only:focus {
  clip: rect(0 0 0 0) !important;
}

@keyframes popupFadeIn  {
  0% {
    opacity:0
  }
  100% {
    opacity:1;
  }
}