.project-card {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .25s ease-in-out;
}

.project-card:hover {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 2px 8px -2px rgba(0, 0, 0, 0.28);
}

.project-card-body {
  flex-grow: 1;
  padding: 15px 20px 5px 15px;
}

.project-card-body h1 {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  padding: 0;  
}

.project-card-body h1 a,
.project-card-body h1 a:hover {
  color: var(--font-dark);
  text-decoration: none;
}

.project-card-body p {
  color: var(--font-light);
  display: block;
  display: -webkit-box;
  font-size: var(--font-tiny);
  height: 3.2em;
  line-clamp: 2;
  line-height: 160%;
  overflow: hidden;
  padding: 0 2px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 2;
}

.project-card-body ul.document-stats {
  color: var(--font-light);
  font-size: 11.5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.project-card-body ul.document-stats li {
  display: inline-block;

}

.project-card-body ul.document-stats li + li {
  padding-left: 10px;
} 

.project-card-body ul.document-stats li svg {
  padding: 0 3px 2px 0;
  vertical-align: middle;
}

.project-card-footer {
  align-items: center;
  background-color: var(--gray-50);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
}

.project-card-footer .avatar-stack {
  display: flex;
  flex-direction: row-reverse;
}

.project-card-footer .avatar-stack .avatar {
  border: 2px solid var(--gray-50); 
  height: 26px;
  width: 26px;
}
.project-card-footer .avatar-stack .avatar + .avatar {
  margin-right: -10px;
}