.annotation-card {
  --emphasis-light: #ffe0a2;
  --emphasis-dark: #e8c889;
  --border-color: var(--gray-100);
}

.annotation-card.private {
  --border-color: rgba(255, 255, 255, 0.12);
}

.annotation-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.annotation-card-comments-container {
  max-height: 50vh;
  overflow-y: auto;
}

.annotation-card-comments-container li {
  position: relative;
}