.annotation-card {
  --emphasis-light: #ffe0a2;
  --emphasis-dark: #e8c889;
}

.annotation-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.annotation-card-header {
  padding: 10px;
  position: relative;
  --anim-dot-size: 3px;
  --anim-color: var(--font-light);
  --anim-h-offset: 6px;
  --anim-v-offset: -5px;
}

.other-typing {
  position: absolute;
  right: 35px;
  top: 26px;
}

.other-typing-animation {
  position: relative;
  left: calc(-9999px + var(--anim-h-offset));
  width: var(--anim-dot-size);
  height: var(--anim-dot-size);
  border-radius: var(--anim-dot-size);
  background-color: var(--anim-color);
  color: var(--anim-color);
  box-shadow: 
    calc(9999px - var(--anim-h-offset)) 0 0 0 var(--anim-color), 
    9999px 0 0 0 var(--anim-color), 
    calc(9999px + var(--anim-h-offset)) 0 0 0 var(--anim-color);
  animation: dot-typing 1.4s infinite linear;
}

/* https://codepen.io/nzbin/pen/GGrXbp */
@keyframes dot-typing {
  0% {
    box-shadow:
      calc(9999px - var(--anim-h-offset)) 0 0 0 var(--anim-color), 
      9999px 0 0 0 var(--anim-color), 
      calc(9999px + var(--anim-h-offset)) 0 0 0 var(--anim-color);
  }
  11.71% {
    box-shadow: 
      calc(9999px - var(--anim-h-offset)) calc(var(--anim-v-offset)) 0 0 var(--anim-color), 
      9999px 0 0 0 var(--anim-color), 
      calc(9999px + var(--anim-h-offset)) 0 0 0 var(--anim-color);
  }
  21.43% {
    box-shadow: 
      calc(9999px - var(--anim-h-offset)) 0 0 0 var(--anim-color), 
      9999px 0 0 0 var(--anim-color), 
      calc(9999px + var(--anim-h-offset)) 0 0 0 var(--anim-color);
  }
  32.14% {
    box-shadow: 
      calc(9999px - var(--anim-h-offset)) 0 0 0 var(--anim-color), 
      9999px calc(var(--anim-v-offset)) 0 0 var(--anim-color), 
      calc(9999px + var(--anim-h-offset)) 0 0 0 var(--anim-color);
  }
  42.86% {
    box-shadow: 
      calc(9999px - var(--anim-h-offset)) 0 0 0 var(--anim-color), 
      9999px 0 0 0 var(--anim-color), 
      calc(9999px + var(--anim-h-offset)) 0 0 0 var(--anim-color);
  }
  53.57% {
    box-shadow: 
      calc(9999px - var(--anim-h-offset)) 0 0 0 var(--anim-color), 
      9999px 0 0 0 var(--anim-color), 
      calc(9999px + var(--anim-h-offset)) calc(var(--anim-v-offset)) 0 0 var(--anim-color);
  }
  64.29% {
    box-shadow: 
      calc(9999px - var(--anim-h-offset)) 0 0 0 var(--anim-color), 
      9999px 0 0 0 var(--anim-color), 
      calc(9999px + var(--anim-h-offset)) 0 0 0 var(--anim-color);
  }
  75.00% {
    box-shadow: 
      calc(9999px - var(--anim-h-offset)) 0 0 0 var(--anim-color), 
      9999px 0 0 0 var(--anim-color), 
      calc(9999px + var(--anim-h-offset)) 0 0 0 var(--anim-color);
  }
}

.annotation-card-comments-container {
  max-height: 80vh;
  overflow-y: auto;
}

.annotation-card-comment {
  border-bottom: 1px solid var(--gray-100);
  padding: 10px;
  transition: background-color 1500ms;
}

.annotation-card-comment.no-border {
  border-bottom: none;
}

.annotation-card-comment.is-new {
  background-color: var(--emphasis-light);
  border-color: var(--emphasis-dark);
}

.annotation-card-comment p {
  font-size: var(--font-tiny);
  line-height: 140%;
  margin: 0;
  padding: 14px 4px 0 4px;
}