.document-title {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 1rem;
}

.document-title > span {
  flex: 1 1 auto;
  overflow-wrap: anywhere;
}

.document-title > input {
  flex-grow: 1;
}

.document-title > button {
  flex: 0 0 34px;
}