.dialog-content.document-metadata {
  max-width: 600px;
}

.dialog-content.document-metadata > .dialog-title {
  margin: 1em 0;
}

.dialog-content.document-metadata > .actions {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
}

.dialog-content.document-metadata .meta > button.add-button {
  margin: 1em 0;
}

.dialog-content.document-metadata .meta > table > tbody > tr > td {
  padding: 0.5em 1em;
}

.dialog-content.document-metadata .meta > table > tbody > tr > td.empty {
  align-items: center;
  border-left: 1px solid var(--gray-200);
  display: flex;
  justify-content: center;
}