---
import BaseLayout from '@layouts/BaseLayout.astro';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';
import { getLangFromUrl, getTranslations } from '@i18n';
import { listMyInvites, listMyProjects } from '@backend/crud';
import { ProjectsHome } from '@apps/dashboard-projects';

const lang = getLangFromUrl(Astro.url);

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);
if (!supabase)
  return Astro.redirect(`/${lang}/sign-in`);

const projects = await listMyProjects(supabase);

const invitations = await listMyInvites(supabase);
---
<BaseLayout title="Dashboard">
  <div class="container">
    {(projects.error || invitations.error) ? (
      <div>Something went wrong</div>
    ) : (
      <ProjectsHome 
        client:load
        projects={projects.data} 
        invitations={invitations.data}
        i18n={getTranslations(Astro.request, 'dashboard-projects')} />
    )}
  </div>
</BaseLayout>