---
import DashboardLayout from '@layouts/dashboard/DashboardLayout.astro';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';
import { getTranslations } from '@i18n';
import { getUser } from '@backend/auth';
import { listMyProjects } from '@backend/projects';
import { ProjectsHome } from '@apps/dashboard-projects';

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);

if (!supabase)
  return Astro.redirect('/sign-in');

const user = await getUser(supabase);

const response = await listMyProjects(supabase);
---
<DashboardLayout title="My Projects" active="projects" user={user}>
  {response.error ? (
    <div>Something went wrong</div>
  ) : (
    <ProjectsHome 
      client:load
      projects={response.data} 
      i18n={getTranslations(Astro.request, 'dashboard-projects')} />
  )}
</DashboardLayout>