---
import BaseLayout from '@layouts/BaseLayout.astro';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';
import { getLangFromUrl, getTranslations } from '@i18n';
import { listMyProjects } from '@backend/crud';
import { ProjectsHome } from '@apps/dashboard-projects';

const lang = getLangFromUrl(Astro.url);

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);
if (!supabase)
  return Astro.redirect(`/${lang}/sign-in`);

const response = await listMyProjects(supabase);
---
<BaseLayout title="Dashboard">
  <div class="container">
    {response.error ? (
      <div>Something went wrong</div>
    ) : (
      <ProjectsHome 
        client:load
        projects={response.data} 
        i18n={getTranslations(Astro.request, 'dashboard-projects')} />
    )}
  </div>
</BaseLayout>