---
import BaseLayout from '@layouts/BaseLayout.astro';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';
import { getTranslations } from '@i18n';
import { Notifications } from '@apps/dashboard-notifications';

const i18n = getTranslations(Astro.request, 'notifications');

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);
if (!supabase)
  return Astro.redirect(`/${i18n.lang}/sign-in`);
---
<BaseLayout title="Notifications">
  <header>
    <nav class="breadcrumbs">
      <ol>
        <li>
          <a href={`/${i18n.lang}/projects`}>INeedAName</a>
        </li>

        <li>
          <a class="breadcrumb-current">{i18n.t['Notifications']}</a>
        </li>
      </ol>
    </nav>
  </header>

  <main>
    <Notifications
      client:load
      i18n={i18n} />
  </main>
</DashboardLayout>

<style>
  header {
    border-bottom: 1px solid var(--gray-200);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 40px;
  }

  main {
    padding: 30px 40px;
  }
</style>