.top-bar-container header {
  align-items: center;
  background-color: var(--bright-blue);
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
}

.top-bar-branding {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.top-bar-platform {
  color: white;
}

.top-bar-separator {
  width: 2px;
  height: 30px;
  margin-left: 5px;
  background-color: white;
}

.top-bar-site_name {
  padding-left: 5px;
  color: var(--siteColor);
  opacity: 0.8;
  font-size: 12px;
  padding-top: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

.top-bar-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-bar-actions svg {
  color: #fff;
}
