.annotation-card-comments-interstitial {
  align-items: center;
  display: flex;
  font-size: 13px;
  height: 0;
  justify-content: center;
  margin: 0;
  position: relative;
}

.annotation-card-comments-interstitial .divider {
  border-top:1px solid var(--gray-100);
  position: absolute;
  width: 100%;
}

.annotation-card-comments-interstitial .label {
  background-color: #fff;
  border: 1px solid var(--gray-100);
  border-radius: 99999px;
  box-shadow: none;
  color: var(--font-light);
  font-size: 12px;
  padding: 0 10px;
  position:relative;
}

.annotation-card-comments-interstitial .label:hover {
  background-color: var(--gray-50);
  box-shadow: none;
}

.annotation-card-comments-interstitial .label svg {
  padding-left: 1ch;
  position: relative;
  top: 1px;
}