.anno-drawer.ta-right-drawer {
  background-color: var(--gray-100);
  flex-grow: 0;   
  flex-shrink: 0; 
  flex-basis: 0;
  position: relative;
  scroll-padding: 60px;
  z-index: 9;
}

.ta-right-drawer aside {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
}

.ta-right-drawer aside .tablist {
  background-color: var(--gray-50);
}

.ta-drawer aside .tabcontent {
  max-width: 380px;
}