.presence-view-more-trigger {
    background-color: white;
    border-radius: 9999px;
    box-sizing: border-box;
    font-size: var(--font-tiny);
    font-weight: 500;
    height: 38px;
    padding: 0 12px;
    width: auto;
    margin-right: 8px;
    pointer-events: all;
}

.presence-view-more-content {
    min-width: 150px;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;  
    cursor: default;
    max-height: 50vh;
    overflow-y: scroll;
}

.presence-view-more-content li {
    display: flex;
    align-items: center;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
}

.presence-view-more-content ul {
    padding-left: 0;
}