@import '@annotorious/react/annotorious-react.css';

.ia-desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  width: 100%;
}

.ia-desktop main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.ia-annotated-image-container {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ia-osd-container {
  height: 100%;
  width: 100%;
}

.openseadragon-canvas {
  outline: none;
}

.ia-drawer {
  height: 100%;
  overflow-y: auto;
  pointer-events: auto;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}