@import '@annotorious/react/annotorious-react.css';

.ia-desktop main {
  background-color: var(--gray-100);
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.ia-annotated-image-container {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ia-osd-container {
  height: 100%;
  width: 100%;
}

.openseadragon-canvas {
  outline: none;
}

.ia-drawer {
  height: 100%;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
}

.ia-drawer .annotation-list {
  padding-right: 10px;
}

.manifest-error footer {
  justify-content: flex-end;
}