@import '@annotorious/react/dist/annotorious-react.css';

.ia-osd-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.openseadragon-canvas {
  outline: none;
}

.ia-toolbar {
  align-items: center;
  bottom: 30px;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
}

.ia-toolbar button {
  border-radius: 50%;
  vertical-align: bottom;
}

.ia-toolbar :is(button, a.button) + :is(button, a.button) {
  margin-left: 3px;
}

.ia-toolbar section {
  padding: 5px;
}

.ia-desktop .presence-stack {
  margin: 10px;
}