---
import BaseLayout from '@layouts/BaseLayout.astro';
import { DashboardSidebar } from './DashboardSidebar';
import { getTranslations } from '@i18n';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';
import { getMyProfile } from '@backend/crud/profiles';
import { retrievePendingInvites } from '@backend/crud';

const i18n = getTranslations(Astro.request, 'dashboard-sidebar');

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);
if (!supabase)
  return Astro.redirect(`/${i18n.lang}/sign-in`);

const { error, data } = await getMyProfile(supabase);

if (error) { 
  const error = await fetch(`${Astro.url}/500`);
  return new Response(error.body, { headers: error.headers, status: 500 }); 
}

// note we are passing the email in for now, but once RLS is set up on invites table that shouldn't actually be necessary I think?
const pending = await retrievePendingInvites(supabase, data.email)
---
<BaseLayout title="Dashboard">	
  <DashboardSidebar client:load i18n={i18n} pending={pending ? pending : 0}/>

  <div class="container">
    <slot />
  </div>
</BaseLayout>

<style>
  body {
		display: flex;
		flex-direction: row;
		position: relative;
	}

  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
  }
</style>