---
import BaseLayout from '@layouts/BaseLayout.astro';
import { DashboardSidebar } from './DashboardSidebar';
import { getTranslations } from '@i18n';

const i18n = getTranslations(Astro.request, 'dashboard-sidebar');
---
<BaseLayout title="Dashboard">	
  <DashboardSidebar client:load i18n={i18n}/>

  <div class="container">
    <slot />
  </div>
</BaseLayout>

<style>
  body {
		display: flex;
		flex-direction: row;
		position: relative;
	}

  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
  }
</style>