.dashboard-sidebar {
  background-color: var(--dark-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: -webkit-fill-available;
  position: sticky;
  top: 0;
  --dashboard-section-border:rgba(255, 255, 255, 0.1);
}

.dashboard-sidebar h1 {
  border-bottom: 1px solid var(--dashboard-section-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  height: 50px;
  margin: 0;
  padding: 10px 25px;
}

.dashboard-sidebar h2 {
  color: var(--font-semi);
  font-size: var(--font-tiny);
  font-weight: 400;
  margin: 0;
  padding: 20px 25px 0 25px;
}

.dashboard-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 220px;
}

.dashboard-sidebar li {
  font-size: var(--font-tiny);
}

.dashboard-sidebar a[href] {
  color: #fff;
  padding: 0;
}

.dashboard-sidebar a[href]:hover {
  color: #fff;
  text-decoration: none;
}

.dashboard-sidebar svg {
  color: var(--font-semi);
  transition: color 250ms ease-in-out;
}

.dashboard-sidebar a[href]:hover svg {
  color: #fff;
}

.dashboard-sidebar ul ul {
  border-bottom: 1px solid var(--dashboard-section-border);
  padding: 0 0 20px 0;
}

.dashboard-sidebar ul ul.pad {
  padding-top: 20px;
}

.dashboard-sidebar ul ul li {
  padding: 0 25px;
}

.dashboard-sidebar .section {
  border-bottom: 1px solid var(--dashboard-section-border);
  padding: 0 0 20px 0;
}

.dashboard-sidebar .flexrow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
