.annotation-reply-form {
  min-height: 36px;
  padding: 10px 57px 10px 52px;
  position: relative;
}

.annotation-reply-form .avatar {
  position: absolute;
  left: 10px;
  top: 10px;
}

.annotation-reply-form button.send {
  align-items: center;
  background: var(--bright-blue);
  border: none;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  outline: none;
  padding: 0;
  position: absolute;
  right: 13px;
  top: 13px;
  width: 32px;
}

.annotation-reply-form button.send svg {
  color: #fff;
}

.annotation-reply-form textarea {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  height: 32px;
  line-height: 140%;
  margin: 2px 0;
  outline: none;
  padding: 8px 5px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

.annotation-reply-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.annotation-reply-form textarea:focus-visible {
  box-shadow: none;
}