.ta-toolpanel-container {
  align-items: center;
  bottom: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.ta-toolpanel-context {
  border: none;
  border-radius: 50%;
  margin: 0 6px;
  transition: opacity 250ms ease-in-out;
  width: 38px;
}

.ta-toolpanel-context.hidden {
  opacity: 0;
}

.ta-toolpanel-context button {
  border-radius: 50%;
}

.ta-toolpanel-context button.delete {
  background-color: var(--red-500);
}

.ta-toolpanel-context button.delete svg {
  color: #fff;
}

.ta-toolpanel {
  align-items: center;
  bottom: 30px;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
}

.ta-toolpanel button {
  border-radius: 50%;
  vertical-align: bottom;
}

.ta-toolpanel button svg {
  color: var(--font-dark);
}

.ta-toolpanel :is(button, a.button) + :is(button, a.button) {
  margin-left: 3px;
}

.ta-toolpanel section {
  padding: 6px 0;
}

.ta-toolpanel section:first-child {
  padding-left: 6px;
}

.ta-toolpanel section:last-child {
  padding-right: 6px;
}

.ta-toolpanel section.privacy {
  padding-left: 0;
}