.annotation-body-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: var(--font-small);
  line-height: 1.2em;
  white-space: nowrap;
  width: 100%;
}

.annotation-body-header .avatar {
  margin-right: 0.6em;
}

.annotation-body-header address {
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
}

.annotation-body-header time {
  color: var(--font-light);
  font-size: 0.875em;
}