header.dashboard-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 30px;
}

header.dashboard-header .dashboard-header-actions {
  align-items: center;
  color: var(--font-dark);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

header.dashboard-header .dashboard-header-actions button {
  border: 1px solid var(--gray-400);
}

header.dashboard-header .dashboard-header-actions.loading button {
  border: 1px solid var(--gray-300);
}

header.dashboard-header .dashboard-header-actions.loading svg {
  color: var(--gray-400);
}

header.dashboard-header :is(button.avatar-placeholder) {
  margin-left: 0;
}

header.dashboard-header .avatar {
  height: 34px;
  width: 34px;
}

header.dashboard-header .dashboard-header-actions .actions-trigger {
  border-radius: 50%;
  margin-left: 0;
}

