body {
  display: flex;
  flex-direction: column;
}

.project-home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  background-color: white;
}

.project-home-document-header-bar {
  align-items: center;
  box-shadow: 
    0 0 3px -1px rgba(0, 0, 0, 0.9),
    0 0 12px -4px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
}

.project-home h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.5rem 0;
}

.project-home h2 > span {
  display: inline-block;
  border: 1px dashed transparent;
  border-radius: var(--border-radius);
  margin: 0 -8px;
  padding: 2px 8px;
}

.project-home h1 > span:hover {
  background-color: #e6eaf1;
  border-color: var(--gray-400);
  cursor: pointer;
}

.project-home .admin-actions {
  display: flex;
}

.project-home .admin-actions button {
  white-space: nowrap;
}

.project-home .admin-actions button svg {
  flex: 0 0 auto;
}

.project-home-add-document {
  min-width: 200px;
}

.project-home-grid-wrapper {
  flex-grow: 1;
  padding: 0 30px;
  position: relative;
}

.project-home-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 2em 0 40px 0;
}