.project-home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 40px;
  position: relative;
}

.project-home h1 {
  margin-bottom: 0.4em;
}

.project-home h1 > span {
  display: inline-block;
  border: 1px dashed transparent;
  border-radius: var(--border-radius);
  margin: 0 -8px;
  padding: 2px 8px;
}

.project-home h1 > span:hover {
  background-color: #e6eaf1;
  border-color: var(--gray-400);
  cursor: pointer;
}

.project-home-grid-wrapper {
  flex-grow: 1;
  position: relative;
}

.project-home-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;  
  grid-template-columns: repeat(auto-fill, 180px);
  padding: 2em 0 40px 0;
}

.dropzone-hint-wrapper {
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 20px 0 0 0;
  position: absolute;
  pointer-events: none;
  width: 100%;
}

.dropzone-hint {
  align-items: flex-end;
  background-color: rgba(7, 82, 154, 0.2);
  border: 1px solid var(--bright-blue);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: flex;
  height: calc(100% + 15px);
  justify-content: center;
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.dropzone-hint-popup {
  animation-duration: 0.5s;
  animation-name: pop-bottom;
  animation-fill-mode: backwards;
  background-color: var(--bright-blue);
  border-radius: var(--border-radius);
  color: #fff;
  margin: 0 40px;
  padding: 10px 20px; 
  position: fixed; 
  bottom: 40px;
  text-align: center;
}

@keyframes pop-bottom {
  0% { 
    opacity: 0; 
    transform: translateY(30px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.dropzone-hint-popup svg {
  animation: upload-nudge 1.2s infinite;
  margin: 1em 0 0.6em 0;
}

@keyframes upload-nudge {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.dropzone-hint-popup h1 {
  font-family: Inter;
  font-size: var(--font-small);
  font-weight: 500;
  letter-spacing: 0.025ch;
  margin: 0;
}

.dropzone-hint-popup p {
  color: var(--font-semi);
  font-size: var(--font-tiny);
  margin: 0;
  letter-spacing: 0.01ch;
}