.login-accordion.accordion-root {
  width: 100%;
}

.login-accordion > .accordion-item > .accordion-trigger-login > .accordion-chevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  margin-right: 4px !important;
}

.login-accordion > .accordion-item[data-state='open'] > .accordion-trigger-login > .accordion-chevron {
  transform: rotate(90deg);
}

.login-accordion > .accordion-item[data-state='open'] > .accordion-trigger-login {
  border-bottom: none;
  box-shadow: none;
}

.login-accordion > .accordion-item > .accordion-content {
  background-color: var(--button-background-color);
  padding: 1em 1em 2em 1em;
}

.login-accordion > .accordion-item[data-state='open'] > .accordion-content {
  position: relative;
  z-index: 1;
  border-left: 1px solid var(--button-border-color);
  border-right: 1px solid var(--button-border-color);
  border-bottom: 1px solid var(--button-border-color);
  box-shadow:
          inset 0 0 0 150px rgba(0, 0, 0, 0),
          0 2px 3px -2px rgba(0, 0, 0, 0.12);
}