.annotation-section.editable .annotation-comment-wrapper {
  padding-bottom: 15px;
}

.annotation-section .align-right {
  justify-content: flex-end;
}

.annotation-section .annotation-section-footer {
  display: flex;
  margin-bottom: 10px;
  padding: 0.25rem 12px;
}

.annotation-section .annotation-section-footer button {
  min-width: 0;
}