.annotation {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 340px;
}

.annotation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.annotation.readonly {
  background-color: var(--gray-200);
}

.annotation.note {
  background-color: #F9EEC8;
}

.annotation.note.readonly {
  background-color: #e1d7b4;
}

.annotation:not(.note)::after {
  background-color: var(--c-blue);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.annotation .annotation-header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  line-height: 110%;
  padding: 10px 15px 6px 12px;
}

.annotation .annotation-header .annotation-header-left {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.annotation .private-avatar .avatar-inner {
  background-color: var(--gray-800);
  color: #fff;
}

.annotation .annotation-toolbar-wrapper {
  padding-bottom: 2px;
}

.annotation .annotation-comment-wrapper {
  max-height: 30vh;
  overflow-y: auto;
  padding: 5px 12px 10px 12px;
}

.annotation .quill-rte {
  padding: 10px;
  background-color: #F3F4F7;
  border-radius: 3px;
  font-family: Inter;
}

.annotation .quill-rte.ql-disabled {
  background-color: transparent;
  padding: 7px 2px 5px 2px;
}

.annotation .quill-rte .ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.45);
}

.annotation.note .quill-rte:not(.ql-disabled) {
  background-color: #e1d7b4
}

.annotation .annotation-taglist-wrapper {
  padding: 0 12px 0 12px;
}

.annotation .annotation-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 5px 15px;
}

.annotation button.save {
  all: unset;
  background-color: var(--bright-blue);
  color: #fff;
  cursor: pointer;
}

.annotation button.save svg {
  color: #fff;
}

.annotation button.save-arrow {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

