.annotation-section {
  transition: background-color 1500ms;
}

.annotation-section.is-new {
  background-color: #ffe0a2;
  transition: background-color 10ms;
}

.annotation-section .align-right {
  justify-content: flex-end;
}

.annotation-section.editable .annotation-comment-wrapper {
  padding-bottom: 0;
}

.annotation-section.editable .annotation-taglist-wrapper {
  padding: 8px 12px 0 12px;
}

.annotation-section .annotation-section-footer {
  display: flex;
  margin: 12px;
}

.annotation-section .annotation-section-footer button {
  min-width: 0;
}