.annotation .layer-icon {
  align-items: center;
  border: 1px solid var(--gray-600);
  border-radius: 50%;
  display: flex;
  height: 30px;
  width: 30px;
}

.has-selected .annotation:not(.selected) .layer-icon {
  pointer-events: none;
}

.annotation .layer-icon svg {
  display: block;
  margin: 1px 0 0 0;
}