.annotation .taglist {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 13px;
  gap: 0.375rem ;
  line-height: 200%;
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0 0 10px 0; 
}

.annotation .taglist button {
  height: auto;
}

.annotation .taglist.editable {
  padding-bottom: 0;
}

.annotation .tag {
  background-color: var(--gray-100);
  border-radius: 4px;
  color: var(--gray-900);
  display: flex;
  font-size: 11.5px;
  gap: 0.125rem;
  padding: 0 0.4rem;
  position: relative;
}

.annotation .tag.editable {
  padding-right: 0;
}

.annotation.readonly .tag {
  background-color: var(--gray-400);
}

.annotation.note .tag {
  background-color: #FCF7E3;
}

.annotation.note.readonly .tag {
  background-color: #e8e2cb;
}

.annotation .tag > * {
  display: block;
}

.annotation .tag button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  min-width: 0;
  outline: none;
  padding: 0 0.4rem;
}