@import './annotation/index.css';
@import './avatar/index.css';
@import './badge/index.css';
@import './breadcrumbs/index.css';
@import './button/index.css';
@import './checkbox/index.css';
@import './dialog/index.css';
@import './dropdown/index.css';
@import './form/index.css';
@import './mixins/index.css';
@import './popover/index.css';
@import './select/index.css';
@import './table/index.css';
@import './tabs/index.css';
@import './toast/index.css';
@import './tooltip/index.css';
@import './scroll-area/index.css';
@import './accordian/index.css';

@font-face {
  font-family: Inter;
  src: url('/fonts/inter/Inter.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Lora;
  src: url('/fonts/lora/Lora.ttf');
}

@font-face {
  font-family: Lora;
  src: url('/fonts/lora/Lora-Italic.ttf');
  font-style: italic;
}

:root {
  /** Colors **/
  --dark-blue: #07498a;
  --bright-blue: #07529a;
  --brighter-blue: #0969c3;
  --light-blue: #88bcf7;
  --sand: #987116;
  --mud-gray: #808073;
  --orange: #e9b44a;

  --gray-900: #202125;
  --gray-800: #475569;
  --gray-700: #6f747c;
  --gray-600: #818992;
  --gray-500: #93989f;
  --gray-400: #d4d8de;
  --gray-300: #dadee2;
  --gray-200: #e2e5e9;
  --gray-100: #f3f4f7;
  --gray-50: #f6f7f9;

  --red-500: #da1e26;
  --red-500-10: #da1e261a;
  --red-200: #f25158;
  --orange-500: #ffa929;
  --green-500: #11a011;

  /** Global constants **/
  --border-radius: 3px;
  --link-color: var(--brighter-blue);

  /** Font styles **/
  --font-dark: var(--gray-900);
  --font-light: var(--gray-700);
  --font-semi: rgba(255, 255, 255, 0.65);

  --font-small: 0.875rem;
  --font-tiny: 13px;

  /** Borders **/
  --border-light-color: var(--gray-300);

  /** Buttons **/
  --button-background-color: var(--gray-50);
  --button-border-color: var(--gray-300);
  --button-border-radius: var(--border-radius);
  --button-focus-outline-color: rgb(22, 97, 202, 0.2);
  --button-font-color: var(--font-dark);
  --button-hover-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.1);
  --button-primary-background: var(--bright-blue);

  /** Inputs **/
  --input-border-color: var(--gray-300);
  --input-border-radius: var(--border-radius);
  --input-error-color: var(--red-500);
  --input-focus-border-color: var(--bright-blue);
  --input-label-color: var(--font-light);
  --input-text-color: var(--font-dark);

  /** Palette **/
  --primary: #07529a;
  --secondary: #b5c8dc;
}

html,
body {
  background-color: white;
  color: var(--gray-900);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  padding: 0;
}

a[href] {
  color: var(--link-color);
  text-decoration: none;
  padding: 2px 2px;
}

a[href]:hover {
  text-decoration: underline;
}

a:focus-visible {
  background-color: rgb(22, 97, 202, 0.15);
  border-radius: var(--border-radius);
  outline: none;
}

h1 {
  font-family: Poppins;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.02ch;
  line-height: 140%;
  margin: 0.8em 0;
  padding: 0;
}

h2 {
  font-family: Poppins;
  font-size: 1.25em;
  font-weight: 600;
  margin: 1em 0;
  padding: 0;
}

p {
  margin: 0.8em 0;
  padding: 0;
}

.text-body-small-bold {
  font-family: Inter;
  font-weight: 600;
  font-size: 13ps;
  line-height: 18.2px;
}

input,
textarea {
  font-family: Inter;
}
