@import './annotation/index.css';
@import './avatar/index.css';
@import './breadcrumbs/index.css';
@import './button/index.css';
@import './dropdown/index.css';
@import './form/index.css';
@import './mixins/index.css';
@import './toast/index.css';

@font-face {
  font-family: Inter;
  src: url('/fonts/inter/Inter.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url('/fonts/poppins/Poppins-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Lora;
  src: url('/fonts/lora/Lora.ttf');
}

@font-face {
  font-family: Lora;
  src: url('/fonts/lora/Lora-Italic.ttf');
  font-style: italic;
}

:root {
  /** Colors **/
  --dark-blue: #07498a;
  --bright-blue: #07529a;
  --mud-gray: #808073;
  --orange: #e9b44a;
  
  --gray-900: #202125;
  --gray-600: #6f747c; 
  --gray-500: #818992;
  --gray-400: #cbd0d7;
  --gray-300: #dce0e4;
  --gray-200: #dfe2e7;
  --gray-100: #e9ecf1;
  --gray-50: #f6f7f9;

  --red-500: #d00e17;

  /** Global constants **/
  --border-radius: 3px;
  --link-color: var(--bright-blue);

  /** Font styles **/
  --font-dark: var(--gray-900);
  --font-light: var(--gray-600);
  --font-semi: rgba(255, 255, 255, 0.65);

  --font-small: 0.875em;
  --font-tiny: 13px;

  /** Borders **/
  --border-light-color: var(--gray-300);

  /** Buttons **/
  --button-background-color: #fff;
  --button-border-color: var(--gray-300);
  --button-border-radius: var(--border-radius);
  --button-font-color: var(--font-dark);
  --button-hover-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.1);
  --button-primary-background: var(--bright-blue);

  /** Inputs **/
  --input-border-color: var(--gray-300);
  --input-border-radius: var(--border-radius);
  --input-error-color: var(--red-500);
  --input-focus-border-color: var(--bright-blue);
  --input-label-color: var(--font-light);
  --input-text-color: var(--font-dark);
}

html, body {
  background-color: var(--gray-100);
  color: var(--gray-900);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

a[href] {
  color: var(--link-color);
  text-decoration: none;
  padding: 2px 2px;
}

a[href]:hover {
  text-decoration: underline;
}

a:focus-visible {
  background-color:rgb(22, 97, 202, 0.15);
  border-radius: var(--border-radius);
  outline: none;
}

h1 {
  font-family: Poppins;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: -0.03ch;
  margin: 1em 0;
  padding: 0;
}

h2 {
  font-family: Poppins;
  font-size: 1.25em;
  font-weight: 600;
  margin: 1em 0;
  padding: 0;
}

p {
  margin: 0.8em 0;
  padding: 0;
}

input, textarea {
  font-family: Inter;
}

