.anno-sidepanel.annotation-list {
  padding: 2px 10px;
}

.anno-sidepanel.annotation-list .annotation-card {
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  margin: 8px 0;
}

.anno-sidepanel.annotation-list .annotation-card:not(.private) {
  background-color: #fff;
}
