.anno-drawer-panel.annotation-list {
  box-sizing: border-box;
  padding: 0 10px 40px 10px;
}

.anno-drawer-panel.annotation-list > ul {
  height: 100%;
  list-style-type: none;  
  margin: 0;
  padding: 0;
}

.anno-drawer-panel.annotation-list .annotation-card {
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  margin: 8px 0;
}

.anno-drawer-panel.annotation-list .annotation-card:not(.private) {
  background-color: #fff;
}

.anno-drawer-panel.annotation-list .annotation-card.selected {
  box-shadow: 0 0 0 3px var(--button-focus-outline-color);
}

.anno-drawer-panel.annotation-list .annotation-list-filter {
  color: var(--font-light);
  font-size: var(--font-tiny);
  padding: 0.5em 8px 0em 0;
  text-align: right;
}

.anno-drawer-panel.annotation-list .annotation-list-filter label {
  margin-right: 0.5ch;
}

.anno-drawer-panel.annotation-list .annotation-list-filter button {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}