.toast-viewport {
  --viewport-padding: 25px;
  bottom: 0;
  margin: 0;
  max-width: 100vw;
  outline: none;
  padding: var(--viewport-padding);
  position: fixed;
  right: 0;
  width: 390px;
  z-index: 2147483647;
}

.toast {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow:
    0 10px 38px -10px rgba(14, 18, 22, 0.35),
    0 10px 20px -15px rgba(14, 18, 22, 0.2);
  column-gap: 25px;
  display: grid;
  grid-template-areas: 'title' 'description';
  grid-template-columns: auto max-content;
  padding: 15px;
  position: relative;
}

.toast[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.toast[data-state='closed'] {
  animation: hide 100ms ease-in;
}

.toast[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.toast[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}

.toast[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}

.toast-title {
  font-size: var(--font-small);
  font-weight: 500;
  grid-area: title;
  margin-bottom: 0.2em;
}

.toast-title svg {
  margin-right: 0.3em;
}

.toast-description {
  font-size: var(--font-tiny);
  grid-area: description;
  line-height: 170%;
  margin: 0;
}

.toast-action {
  position: absolute;
  right: 9px;
  top: 9px;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}


