---
import { getFixedT } from 'src/i18n/server';
import BaseLayout from '@layouts/BaseLayout.astro';
import { i18n } from 'astro:config/server';

const supported = i18n?.locales || ['en', 'de'];
const preferred = Astro.preferredLocale;

const lang = Astro.currentLocale || (preferred && supported.includes(preferred) ? preferred : 'en');
const t = await getFixedT(lang, ['error']);
---
<BaseLayout title="Recogito | Not Found">
  <main
    class="container"
    id="main"
    style="align-items: center; bottom: 0; display: flex; justify-content: center; position: absolute; top: 0; width: 100%;"
  >
    <div class="column">
      <h1 style="margin: 0; padding: 0.2em 0;">404 Not Found</h1>
      <p style="margin: 0.2em 0">{t('Nothing to see here.', { ns: 'error' })}</p>
    </div>
  </main>
</BaseLayout>

