---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout title="ViCo | Login">
  <div class="container">
    <div class="column">
      <h1>404 Not Found</h1>
      <p>Nothing to see here.</p>
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .container * {
    margin: 0;
    padding: 0.2em 0;
  }
</style>