---
import { getFixedT } from 'src/i18n/server';
import BaseLayout from '@layouts/BaseLayout.astro';

const locale = Astro.currentLocale;
const t = await getFixedT(locale, ['error']);
---
<BaseLayout title="Recogito | Error">
  <div class="container">
    <div class="column">
      <h1>500 Error</h1>
      <p>{t('Something went wrong.', { ns: 'error' })}</p>
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .container * {
    margin: 0;
    padding: 0.2em 0;
  }
</style>