button.color-coding-selector-trigger {
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-size: var(--font-tiny);
  font-weight: 500;
  padding: 0 0.75rem;
  width: auto;
}

button.color-coding-selector-trigger > svg:first-child {
  margin-right: 0.5rem;
}