.annotation-taglist {
  background-color: var(--gray-100);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px 5px 0 0;
  line-height: 100%;
  padding: 10px;
  position: relative;
}

.annotation-taglist ul,
.annotation-taglist form {
  display: inline;
}

.annotation-taglist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.annotation-taglist li {
  display: inline;
}

.annotation-taglist input {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  font-size: var(--font-tiny);
  padding: 4px;
  transition: all 180ms;
}

.annotation-taglist input:focus {
  background-color: var(--gray-300);
  box-shadow: none;
}