.annotation-taglist {
  background-color: var(--gray-100);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px 5px 0 0;
  line-height: 100%;
  padding: 10px;
  position: relative;
}

.annotation-taglist ul,
.annotation-taglist form {
  display: inline;
}

.annotation-taglist input {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  font-size: var(--font-tiny);
  padding: 4px;
  transition: all 180ms;
}

.annotation-taglist input:focus {
  background-color: var(--gray-300);
  box-shadow: none;
}

.annotation-taglist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.annotation-taglist li {
  background-color: var(--gray-200);
  border: 1px solid var(--gray-400);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  margin-right: 5px;
  padding: 2px 4px;
}

.annotation-taglist li:hover {
  background-color: var(--gray-300);
}

.annotation-taglist li.annotation-taglist-more {
  border: none;
  background: none;
}

.annotation-taglist .annotation-taglist-actions {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #979ea5;
}