.anno-sidebar-container:not([data-collapsed]) {
  box-shadow:
    0px 0px 16px -1px rgba(0, 0, 0, 0.15),
    0px 0px 16px -8px rgba(0, 0, 0, 0.25), 
    0px 0px 16px -12px rgba(0, 0, 0, 0.32),
    0px 0px 2px 0px rgba(0, 0, 0, 0.28);
}

.view-menu {
  border-radius: 0 0 0 12px;
  border-width: 0 0 1px 1px;
  box-sizing: border-box;
  display: flex;
  padding: 0 5px;
  pointer-events: all;
}

.anno-sidebar-container:not([data-collapsed]) .view-menu {
  border-radius: 0;
  box-shadow: none;
} 

.view-menu button {
  border-radius: 50%;
  height: 36px;
  vertical-align: bottom;
  width: 36px;
}

.view-menu button svg {
  color: var(--font-dark);
}

.view-menu :is(button, a.button) + :is(button, a.button) {
  margin-left: 0;
}

.view-menu .avatar {
  height: 36px;
  width: 36px;
}

.view-menu .close {
  text-align: right;
  padding-right: 0;
}

.anno-sidebar-container aside {
  background-color: var(--gray-100);  
  border-top: 1px solid var(--gray-200);
  height: 100%;
  pointer-events: all;
}

