.project-assignments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-assignments-document-header-bar {
  align-items: center;
  box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.9), 0 0 12px -4px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
}

.project-assignments-presentation-pane {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 10px 0 0 30px;
  position: relative;
  align-items: stretch;
}
