.accept-invite-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accept-invite-title {
  font-size: x-large;
}

.accept-invite-description {
  padding-top: 15px;
  padding-bottom: 15px;
}

.accept-invite-dialog-button-join {
  background-color: var(--brighter-blue);
  color: var(--gray-200);
}
