.invitation-confirmation.dialog-content {
  max-width: 540px;
  padding: 0 40px;
  text-align: center;
  width: 520px;
}

.invitation-confirmation .success-icon {
  margin: 60px 0 40px 0;
}

img.graphic-invitation-accepted {
  margin: -10px 0 -70px 35px;
  width: 500px;
}

.invitation-confirmation .close {
  margin-bottom: 40px;
}