.settings-header-root {
  padding-right: 30px;
  box-sizing: border-box;
  z-index: 10;
  background-color: white;
}

.settings-header-name-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings-header-description-bar {
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
}

.settings-header-header section.settings-header-header-bottom {
  padding: 6px 25px 0 30px;
  border-bottom: 1px solid var(--gray-200);
}

.settings-header-header-bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.settings-header-header-bottom li {
  display: inline-block;
}

.settings-header-header-bottom li + li {
  margin-left: 18px;
}

.settings-header-header-bottom li {
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.settings-header-header-bottom li button {
  background: none;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  box-shadow: none;
  color: var(--font-light);
  font-size: var(--font-tiny);
  padding: 8px 4px;
}

.settings-header-header-bottom .settings-header-header-tabs li:hover {
  border-color: var(--gray-200);
}

.settings-header-header-bottom .settings-header-header-tabs li.active {
  border-color: var(--bright-blue);
  color: var(--bright-blue);
  font-weight: 500;
}

.settings-header-header-bottom .settings-header-header-tabs li.active button {
  color: var(--bright-blue);
  font-weight: 500;
}

.settings-header-header-bottom li button:hover {
  background: none;
  box-shadow: none;
}

.settings-header-button-bar {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}
.settings-header-button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 130px;
}

.settings-header-button-text {
  padding-left: 3px;
}

.settings-header-spacer {
  height: 20px;
}
