---
import BaseLayout from '@layouts/BaseLayout.astro';
import { ForgotPassword } from '@apps/auth-forgot-password';
import { getTranslations } from '@i18n';
---
<BaseLayout title="Recogito | Forgot Password">
  <div class="container">
    <div class="column">
      <ForgotPassword i18n={getTranslations(Astro.request, 'auth-forgot-password')} client:load />
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .column {
    max-width: 360px;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }
</style>