---
import BaseLayout from '@layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '@i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<BaseLayout title={t('welcome')}>
  <div>
    {t('welcome')}
  </div>
</BaseLayout>