---
import BaseLayout from '@layouts/BaseLayout.astro';
import { ResetPassword as ResetPasswordComponent } from '@apps/auth-reset-password';
import { getTranslations } from '@i18n';
---
<BaseLayout title="Recogito | Reset Password">
  <div class="container">
    <div class="column">
      <ResetPasswordComponent 
        client:only="react"
        i18n={getTranslations(Astro.request, 'auth-reset-password')} />
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .column {
    max-width: 360px;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }
</style>