---
import LoginLayout from '@layouts/login/LoginLayout.astro';
import { Login } from '@apps/auth-login';
import { getTranslations } from '@i18n';
import type { LoginMethod } from '../../Types';
import config from '../../config.json';

const methods = config.authentication.methods;
const splashURL = config.branding.home_banner;
---

<LoginLayout title=''>
  <div class='container'>
    <Login
      i18n={getTranslations(Astro.request, 'auth-login')}
      methods={methods as LoginMethod[]}
      client:only='react'
      splashURL={splashURL}
    />
  </div>
</LoginLayout>;

<style>
  .container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
  }
</style>
