---
import BaseLayout from '@layouts/BaseLayout.astro';
import { LogoutApp } from '@apps/auth-logout';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);
await supabase.auth.signOut();
---

<BaseLayout title='Recogito | Logout'>
  <div class='container'>
    <div class='column'>
      <LogoutApp
        client:only='react'
      />
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .column {
    max-width: 360px;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }
</style>
