---
import LoginLayout from '@layouts/login/LoginLayout.astro';
import { Login } from '@apps/auth-login';
import { getTranslations } from '@i18n';
import type { LoginMethod } from '../../Types';
import config from '../../config.json';
import { $redirectUrl } from '@backend/urlRedirect';

const methods = config.authentication.methods;

import ClientRedirect from '../redirect.astro';
---

<LoginLayout title='' i18n={getTranslations(Astro.request, 'auth-login')}>
  <div class='container'>
    <ClientRedirect />
    <Login
      i18n={getTranslations(Astro.request, 'auth-login')}
      methods={methods as LoginMethod[]}
      client:load
    />
  </div>
</LoginLayout>;

<style>
  .container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .column {
    max-width: 360px;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }
</style>
