.avatar {
  border-radius: 50%;
  display: block;
  position: relative;
  height: 38px;
  width: 38px;
}

.avatar-wrapper {
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
}

.avatar-wrapper.ring {
  border: 2px solid transparent;
  padding: 2px;
  background-color: #fff;
}

.avatar-image,
.avatar-fallback {
  align-items: center;
  background-size: cover;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: var(--font-tiny);
  font-weight: 500;
  height: 100%;
  justify-content: center;
  line-height: 120%;
  width: 100%;
}

.avatar-border {
  border: 1px solid white;
}

.avatar-image {
  object-fit: cover;
}
