form.login > .field {
  display: block;
}

form.login > .field > label {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  width: 100%;
}

form.login > .field > input {
  background-color: var(--gray-50);
  border-color: var(--gray-200);
  box-shadow: none;
  display: block;
  height: 38px;
  width: 100%;
}

form.login > .field > input:focus {
  border-color: var(--gray-200);
}