form > .field {
  display: block;
}

form > .field > label {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  width: 100%;
}

form > .field > input {
  background-color: #FAFAFA;
  border-color: #E1E3E6;
  box-shadow: none;
  display: block;
  height: 38px;
  width: 100%;
}

form > .field > input:focus {
  border-color: #E1E3E6;
}