---
import HeaderLayout from '../HeaderLayout.astro';
import config from '../../config.json';

export interface Props {
  title: string;
}

const { title } = Astro.props;

const siteColor = config.branding.site_color;
const splashURL = config.branding.home_banner;

const backgroundStyle = `background: url(${splashURL}) no-repeat center fixed;background-size: cover;width: 100%; overflow: hidden`;
---

<HeaderLayout title={title}>
  <div class='background' style={backgroundStyle}></div>
  <slot />
</HeaderLayout>

<style define:vars={{ siteColor }}>
  .login-background-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: calc(100vh - 100px);
  }

  header {
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-200);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 40px;
    background-color: var(--gray-900);
  }

  footer {
    border-top: 1px solid var(--gray-200);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 40px;
    background-color: var(--gray-900);
  }

  main {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .branding-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .platform {
    color: white;
  }

  .separator {
    width: 2px;
    height: 20px;
    margin-left: 5px;
    background-color: white;
  }

  .site_name {
    padding-left: 5px;
    color: var(--siteColor);
  }

  .blurb {
    color: white;
    font-size: 14px;
  }
</style>
