.anno-drawer.ia-left-drawer {
  background-color: var(--gray-50);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.3);
  left: 0;
  padding-top: 0;
  scroll-padding: 40px;
  top: 0;
  width: 310px;
}

.anno-drawer.ia-left-drawer aside {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.anno-drawer.ia-left-drawer aside .tabcontent {
  flex: 1;
  overflow-x: hidden;
}