ul.metadata-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.metadata-list > li {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  padding: 0.8em;
  margin-top: 8px;
  margin-bottom: 8px;
}

ul.metadata-list > li > span {
  display: flex;
  width: 50%;
}

ul.metadata-list > li > span:last-child {
  justify-content: flex-end;
  text-align: right;
}