.notification-actions-trigger .pip {
  background-color: var(--bright-blue);
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  height: 1tpx; 
  line-height: 15px;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 15px;
}

.dropdown-content .notifications-info {
  display: flex;
  flex-direction: column;
  font-size: var(--font-tiny);
  gap: 6px;
  padding: 5px 10px;
}

.dropdown-content .notifications-info.no-pending {
  color: var(--font-light);
}