.tab-team thead th button {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}

.tab-team td .anonymous-member {
  color: var(--font-light);
}

.tab-team td .anonymous-member button {
  height: 24px;
  margin-left: 2px;
  padding: 0;
  vertical-align: sub;
  width: 24px;
}

.tab-team td .anonymous-member button svg {
  left: 0;
  position: relative;
  top: 0;
}

.tab-team td .anonymous-member button:hover svg {
  color: var(--font-dark);
}

.tab-team-mode {
  padding-bottom: 20px;
}

.tab-team-mode-header {
  margin-bottom: 10px;
}

.tab-team-theme {
  height: fit-content !important;
  min-height: auto !important;
}
