.mobile-textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.mobile-textarea-close {
  right: 20px;
  position: absolute;
  top: 20px;
}

.mobile-textarea textarea {
  border: none;
  border-radius: 0;
  font-size: 1.2em;
  height: 100%;
  padding: 2.5%;
  resize: none;
  width: 100%;
}

.mobile-textarea .mobile-rte {
  background-color: #fff;
  height: 100%;
  padding: 2.5%;
  width: 100%;
}

.mobile-textarea .mobile-rte .ql-toolbar {
  display: none;
}

.mobile-textarea-footer {
  background-color: #fff;
  border-top: 1px solid var(--gray-200);
  padding: 20px;
}