.ta-desktop main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.ta-desktop main .r6o-annotatable canvas {
  background-color: rgba(255, 0, 0, 0.1);
  box-sizing: border-box;
  border: 2px solid green;
  height: 100vh;  
  height: 100dvh;
  max-height: -webkit-fill-available;
  bottom: auto;
}

.ta-desktop main .ta-annotated-text-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow-y: scroll;
}

.ta-desktop main .ta-annotated-text-container .content-wrapper {
  font-family: Lora;
  font-size: 17px;
  height: fit-content;
  line-height: 190%;
  min-height: 100%;
  pointer-events: all;
  position: relative;
  width: 100%;
  word-wrap: break-word;
}

.content-wrapper.text main {
  height: fit-content;
  white-space: pre-line;
}

.content-wrapper.tei main {
  height: fit-content;
}

.content-wrapper .text,
.content-wrapper .tei {
  background-color: #fff;
  border-color: var(--gray-300);
  border-style: solid;
  border-width: 0 1px;
  margin: 0 auto;
  max-width: 65ch;
  padding: 70px 85px 140px 85px;
}

.content-wrapper .pdf {
  background-color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content-wrapper .r6o-pdf-container {
  bottom: 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.content-wrapper .r6o-pdf-container .page {
  margin: 10px auto;
  border: 1px solid var(--gray-300);
}

.a9s-popup {
  z-index: 999;
}

.content-wrapper main img {
  max-width: 100%;
}

.ta-desktop main {
  flex-grow: 1;
  position: relative;
}

.ta-toolbar-container {
  align-items: center;
  display: flex;
}

.ta-toolbar-context {
  border: none;
  border-radius: 50%;
  margin: 0 6px;
  transition: opacity 250ms ease-in-out;
}

.ta-toolbar-context.hidden {
  opacity: 0;
}

.ta-toolbar-context button {
  border-radius: 50%;
}

.ta-toolbar-context button.delete {
  background-color: var(--red-500);
}

.ta-toolbar-context button.delete svg {
  color: #fff;
}

.ta-toolbar {
  align-items: center;
  bottom: 30px;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
}

.ta-toolbar button {
  border-radius: 50%;
  vertical-align: bottom;
}

.ta-toolbar button svg {
  color: var(--font-dark);
}

.ta-toolbar :is(button, a.button) + :is(button, a.button) {
  margin-left: 6px;
}

.ta-toolbar section {
  padding: 6px;
}

.ta-drawer {
  overflow-y: auto;
  pointer-events: auto;
  z-index: 1;
}