html, body {
  background-color: var(--gray-100);
  height: 100%;
  overscroll-behavior: none;
}

.ta-desktop .header,
.ta-desktop .footer {
  z-index: 20;
}

.ta-desktop main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.content-wrapper main img {
  max-width: 100%;
}

.ta-desktop main .r6o-annotatable canvas {
  height: 100%;
  height: 100dvh;  
}

.ta-desktop main .r6o-annotatable .r6o-span-highlight-layer {
  mix-blend-mode: multiply;
  z-index: 5;
}

.ta-desktop main .r6o-annotatable .r6o-highlight-layer.presence {
  z-index: 10;
}

.ta-desktop main .ta-annotated-text-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.ta-desktop main .ta-annotated-text-container .page-wrapper {
  background-color: #fff;
  box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.34),
    0 0 16px -8px rgba(0, 0, 0, 0.18);
  min-width: 65ch;
  overflow-y: scroll;
  z-index: 10;
}

.ta-desktop main .ta-annotated-text-container .content-wrapper {
  font-family: Lora;
  font-size: 17px;
  height: fit-content;
  line-height: 190%;
  min-height: 100%;
  pointer-events: all;
  position: relative;
  word-wrap: break-word;
}

.ta-desktop .spacer {
  flex-grow: 1;
}

.ta-drawer {
  overflow-y: auto;
  pointer-events: auto;
  position: relative;
  z-index: 1;
}

.ta-desktop .annotation-list .annotation:not(.readonly) {
  box-shadow: 
    0 0 1px 0 rgba(0, 0, 0, 0.18),
    0 0 16px -7px rgba(0, 0, 0, 0.25);
}

.ta-desktop .anno-drawer-panel.annotation-list > ul > li .annotation.selected {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.18), 
    2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.a9s-popup {
  z-index: 999;
}

/** Text-/TEI-related specializations **/

main.text .content-wrapper,
main.tei .content-wrapper {
  background-color: #fff;
  max-width: 65ch;
  padding: 70px 85px 140px 85px;
}

main.text.list-open .content-wrapper,
main.tei.list-open .content-wrapper {
  margin-right: 0;
}

/** PDF-related specializations **/
.ta-desktop main.pdf .ta-annotated-text-container .page-wrapper {
  background-color: transparent;
  box-shadow: none;
  overflow-y: hidden;
  width: 100%;
} 

.ta-desktop main.pdf .spacer {
  display: none;
}

.content-wrapper .r6o-pdf-container {
  bottom: 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.content-wrapper .r6o-pdf-container .page {
  margin: 10px auto;
  border: 1px solid var(--gray-300);
}

.content-wrapper .r6o-pdf-container .pdfViewer .page .textLayer {
  opacity: 1;
}

.ta-desktop main.pdf .ta-right-drawer {
  border-left: 1px solid var(--gray-300);
  flex-grow: 0.1 !important;
}

