.project-header-root {
  background-color: var(--gray-100);
  padding: 0 30px;
  position: relative;
  z-index: 10;
}

.project-header-name-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-header-name-bar h1 {
  font-size: 1.4rem;
}

.project-header-description-bar {
  font-weight: 400;
  font-size: 14px;
  display: block;
  line-height: 160%;
  max-height: 3rem;
  overflow: hidden;
  padding: 0 2px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  transition: all 500ms ease;
}

.project-header-description-bar.collapsed {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 2;
}

.project-header-description-bar.expanded {
  max-height: 80vh;
  overflow-y: auto;
}

section.project-header-header-bottom {
  padding-top: 15px;
}

.project-header-header-bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-header-header-bottom li {
  display: inline-block;
}

.project-header-header-bottom li + li {
  margin-left: 18px;
}

.project-header-header-bottom li {
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.project-header-header-bottom li button {
  background: none;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  box-shadow: none;
  color: var(--font-light);
  font-size: var(--font-tiny);
  padding: 8px 4px 4px 4px;
}

.project-header-header-bottom .project-header-header-tabs li:hover {
  border-color: var(--gray-200);
}

.project-header-header-bottom .project-header-header-tabs li.active {
  border-color: var(--bright-blue);
  color: var(--bright-blue);
  font-weight: 500;
}

.project-header-header-bottom .project-header-header-tabs li.active button {
  color: var(--bright-blue);
  font-weight: 500;
}

.project-header-header-bottom li button:hover {
  background: none;
  box-shadow: none;
}

.project-header-button-bar {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.project-header-button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-header-button svg {
  flex: 0 0 auto;
}

.project-header-button-text {
  padding-left: 3px;
}

.project-header-spacer {
  height: 20px;
}

.show-button {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 1000;
  color: var(--primary);
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
