.assignment-list-list {
  padding: 10px 20px 0 0;
}

.assignments-list-item {
  box-sizing: border-box;
  width: 390px;
  height: 100px;
  border-top: 1px solid var(--gray-200);
  padding: 20px;
  cursor: pointer;
}

.assignments-list-item:first-child {
  border-top: none;
}

.assignments-list-item:last-child {
  border-bottom: 1px solid var(--gray-200);
}

.assignments-list-item.active + .assignments-list-item {
  border-top: none;
}

.assignments-list-item.active {
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius);
  background-color: var(--gray-100);
}

.assignments-list-item-date {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.2px;
}

.assignments-list-item-title {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}
