.assignments-list-item {
  width: 404px;
  height: 80px;
  border-bottom: 1px solid var(--gray-100);
  padding-left: 30px;
  padding-top: 30px;
  cursor: pointer;
}

.assignments-list-item-active {
  width: 404px;
  height: 80px;
  border: 1px solid var(--gray-200);
  background-color: var(--gray-100);
  padding-left: 30px;
  padding-top: 30px;
  cursor: pointer;
}

.assignments-list-item-date {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.2px;
}

.assignments-list-item-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
