.dialog-overlay {
  animation: dialogEnter 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: rgba(0, 0, 0, 0.35);
  inset: 0;
  position: fixed;
}

@keyframes dialogEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog-content {
  animation: dialogEnter 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  overflow-y: auto;
  padding: 25px;
  z-index: 9999;
}

.dialog-content form .field {
  font-size: var(--font-tiny);
}

.dialog-content:focus {
  outline: none;
}

.dialog-title {
  font-size: 1.2em;
  margin: 0;
}

.dialog-description {
  line-height: 160%;
  margin: 2.5em 0;
  font-size: var(--font-tiny);
}

.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dialog-footer {
  display: flex;
  margin-top: 2.5em;
}
