.ia-annotation-popup {
  background-color: #fff;
  border-radius: 6px;
  box-shadow:
    2.4px 3.9px 3.3px rgba(0, 0, 0, 0.024),
    6.5px 10.8px 9.1px rgba(0, 0, 0, 0.035),
    15.7px 25.9px 22px rgba(0, 0, 0, 0.046),
    52px 86px 73px rgba(0, 0, 0, 0.07);
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  position: absolute;
  pointer-events: all;
  top: 10px;
  width: 340px;
  --emphasis-light: #ffe0a2;
  --emphasis-dark: #e8c889;
}

.ia-annotation-popup > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ia-annotation-popup > header,
.ia-annotation-popup > ul li {
  padding: 10px;
  position: relative;
} 

.ia-annotation-popup > ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  transition: background-color 1500ms;
} 

.ia-annotation-popup > ul li:first-child {
  border-top: none;
}

.ia-annotation-popup > ul li.is-new {
  background-color: var(--emphasis-light);
  border-color: var(--emphasis-dark);
}

.ia-annotation-popup > ul li p {
  font-size: var(--font-tiny);
  line-height: 140%;
  margin: 0;
  padding: 14px 4px 4px 4px;
}
