.ia-annotation-popup {
  background-color: #fff;
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius);
  box-shadow:
    0px 0px 12px -8px rgba(0, 0, 0, 0.12),
    0px 8px 32px -12px rgba(0, 0, 0, 0.28);
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  position: absolute;
  pointer-events: all;
  top: 10px;
  width: 320px;
  --emphasis-light: #ffe0a2;
  --emphasis-dark: #e8c889;
}

.ia-annotation-popup > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ia-annotation-popup > header,
.ia-annotation-popup > ul li {
  padding: 10px;
  position: relative;
} 

.ia-annotation-popup > ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  transition: background-color 1500ms;
} 

.ia-annotation-popup > ul li:first-child {
  border-top: none;
}

.ia-annotation-popup > ul li.is-new {
  background-color: var(--emphasis-light);
  border-color: var(--emphasis-dark);
}

.ia-annotation-popup > ul li p {
  font-size: var(--font-tiny);
  line-height: 140%;
  margin: 0;
  padding: 14px 4px 4px 4px;
}
