.document-menu {
  align-items: center;
  border-radius: 0 0 12px 0;
  border-width: 0 0 1px 1px;
  box-sizing: border-box;
  display: flex;
  gap: 0.5em;
  height: 48px;
  padding: 0 20px 0 10px;
  pointer-events: all;
}

.document-menu h1 {
  font-size: var(--font-tiny);
  font-family: Inter;
  font-weight: 500;
  margin: 0;
}

.document-menu .assignment-icon {
  align-items: center;
  background-color: var(--font-dark);
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  height: 28px;
  justify-content: center;
  width: 28px;
}

.document-menu a {
  color: var(--font-dark);
}

.document-menu a svg {
  display: block;
}

.document-menu span {
  color: var(--font-light);
}