.job-status-pill {
  align-items: center;
  background-color: var(--gray-200);
  border-radius: 100vw;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  padding: 0.25rem 0.625rem 0.25rem;
  line-height: 200%;
  width: fit-content;
}

.job-status-pill.processing {
  background-color: var(--orange-500);
}

.job-status-pill.complete {
  background-color: var(--green-500);
  color: white;
}

.job-status-pill.error {
  background-color: var(--red-500);
  color: white;
}

.job-status-pill svg {
  flex: 0 0 auto;
  height: 14px;
  width: 14px;
}
