button.danger,
button.danger:disabled,
a[href].button.danger,
a[href].button.danger:disabled {
  border-color: var(--red-500);
  background-color: var(--red-500);
  color: #fff;
}

button.danger svg,
button.danger:disabled svg {
  color: #fff;
}