button.unstyled {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--font-light);
  cursor: pointer;
  font-size: var(--font-small);
  margin: 0;
  min-width: auto;
  padding: 0;
}

button.unstyled svg {
  position: relative;
  top: -1px;
}

button.unstyled:disabled {
  background: none;
}

button.unstyled:not(:disabled):hover {
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.08);
}

button.unstyled.icon-only {
  border: 2px solid transparent;
  border-radius: 50%;
  height: 34px;
  outline: none;
  padding: 0;
  width: 34px;
}

button.unstyled.icon-only-large {
  border: 2px solid transparent;
  border-radius: 50%;
  height: 38px;
  outline: none;
  padding: 0;
  width: 38px;
}

button.unstyled.icon-only svg {
  height: 100%;
  margin: 1px 0 0 0;
  padding: 0.5rem;
  width: 100%;
}
