@import './toolbar.css';

.anno-desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.anno-desktop-overlay {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.15),
    0px 0px 16px -8px rgba(0, 0, 0, 0.25),
    0px 0px 16px -12px rgba(0, 0, 0, 0.32), 0px 0px 2px 0px rgba(0, 0, 0, 0.28);
  pointer-events: all;
  transition: background-color 250ms;
}

.anno-desktop-overlay button {
  background: transparent;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: none;
  height: 38px;
  min-width: auto;
  outline: none;
  padding: 0;
  width: 38px;
}

.anno-desktop-overlay button.active {
  background-color: var(--bright-blue);
  color: #fff;
}

.anno-desktop-overlay button.active svg {
  color: #fff;
}

.anno-drawer aside .tablist {
  border-bottom: 1px solid var(--gray-300);
  color: var(--font-light);
  font-size: var(--font-tiny);
  padding: 10px 15px 5px 15px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.anno-drawer aside .tablist ul {
  display: flex;
  gap: 1.75rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.anno-drawer aside .tablist ul li.active {
  color: var(--font-dark);
  font-weight: 500;
}

.anno-drawer aside .tablist ul li.active svg {
  color: var(--font-dark);
}

.anno-drawer aside .tablist button {
  all: unset;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 0.25rem;
}