.anno-toolbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.18), 0 0 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 0.375rem 0.75rem;
  position: relative;
  z-index: 10;
}

.anno-toolbar-slot {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.anno-toolbar h1 {
  align-items: center;
  display: flex;
  font-size: var(--font-tiny);
  font-family: Inter;
  gap: 0.5rem;
  margin: 0;
  padding-left: 0.75rem;
  white-space: nowrap;
}

.anno-toolbar h1 a[href] {
  align-items: center;
  color: var(--font-dark);
  display: inline-flex;
  gap: 0.5rem;
}

.anno-toolbar h1 span {
  color: var(--font-light);
  font-weight: 400;
}

.anno-toolbar .assignment-icon {
  color: var(--font-dark);
}

.anno-toolbar button {
  border-radius: 50%;
  color: var(--font-dark);
  flex: 0 0 auto;
  height: 36px;
  vertical-align: bottom;
  width: 36px;
}

.anno-toolbar button:disabled {
  background-color: transparent;
  border-color: transparent;
}

.anno-toolbar button > svg {
  color: var(--font-dark);
}

.anno-toolbar :is(button, a.button, .with-notification) + :is(button, a.button, .with-notification) {
  margin-left: 2px;
}

.anno-toolbar .anno-toolbar-right {
  align-items: center;
  display: flex;
  padding-right: 10px;
}

.anno-toolbar button {
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  height: 36px;
  min-width: auto;
  outline: none;
  padding: 0;
  vertical-align: bottom;
  width: 36px;
}

.anno-toolbar-group {
  align-items: center;
  display: flex;
}

.anno-toolbar .anno-toolbar-right button:hover {
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.06);
}

.anno-toolbar .anno-toolbar-right button svg {
  color: var(--font-dark);
}

.anno-toolbar button.active {
  background-color: var(--bright-blue);
  color: #fff;
}

.anno-toolbar button.active svg {
  color: #fff;
}

.anno-toolbar .avatar {
  height: 32px;
  width: 32px;
}

.anno-toolbar .avatar .avatar-fallback {
  font-size: 11.5px;
}

.anno-toolbar .avatar:hover {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06);
}

.anno-toolbar .anno-menubar-me {
  padding-left: 10px;
}

.anno-toolbar .with-notification {
  display: inline-block;
  position: relative;
}

.anno-toolbar .notification-bubble {
  all: unset;
  align-items: center;
  background-color: var(--bright-blue);
  border-radius: 999px;
  border: 1px solid #fff;
  color: #fff !important;
  display: flex;
  gap: 11px;
  font-size: 9.5px;
  height: 16px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -5px;
  top: -3px;
  width: 16px;
}

.anno-toolbar-divider {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 0 2px 0 0;
  display: inline-block;
  height: 16px;
  margin: 0 4px;
  right: 0;
}

