.create-project-input {
  margin-bottom: 10px;
}

.create-project-root {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.create-project-dialog-button-container {
  display: flex;
  justify-content: flex-end;
}

.create-project-switch-root {
  width: 42px;
  height: 25px;
  padding: 0;
  background-color: var(--gray-200);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--gray-200);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: content-box;
  display: block;
  min-width: 42px;
}

.create-project-switch-root[data-state='checked'] {
  background-color: var(--light-blue);
}

.create-project-switch-thumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: var(--gray-500);
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--bright-blue);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}

.create-project-switch-thumb[data-state='checked'] {
  transform: translateX(19px);
  background-color: var(--bright-blue);
}

.create-project-switch-label {
  color: --var(--gray-900);
  font-size: 15px;
  line-height: 1;
  margin-left: 3px;
}

.create-project-label {
  color: --var(--gray-900);
  margin-bottom: 5px;
}

.create-project-label-root {
  color: --var(--gray-900);
}

.create-project-label-detail {
  color: --var(--gray-900);
  margin-bottom: 10px;
}

.create-project-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 24px;
}

.create-project-switches {
  display: flex;
  flex-direction: column;
}

.create-project-switches.lower {
  margin-top: 15px;
}

.create-project-visibility {
  margin-top: 30px;
}

.create-project-radio-group-root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.create-project-radio-group-root.lower {
  margin-top: 10px;
}

.create-project-radio-group-item {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.create-project-label-container {
  display: flex;
  flex-direction: column;
}

.create-project-radio-group-button {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  min-width: 20px !important;
  padding: 0 !important;
}

.create-project-radio-group-button[data-state='checked'] {
  border-color: var(--primary);
}

.create-project-radio-group-button:hover {
  background-color: var(--gray-300);
}

.create-project-radio-group-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.create-project-radio-group-indicator::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary);
}

.create-project-radio-group-label {
  margin-left: 4px;
}

.create-project-radio-group-helper {
  margin-top: 5px;
  margin-left: 5px;
}
