.annotation-comment.private {
  font-size: var(--font-tiny);
  padding: 10px;
}

.annotation-comment.private svg.anonymous {
  left: 12px;
  position: absolute;
  top: 14px;
}

.annotation-comment.private .comment-body {
  padding: 0 35px;
}

.annotation-comment.private .comment-body time {
  color: var(--font-light);
  font-size: 0.875em;
}

.annotation-comment.private p {
  padding: 8px 0 5px 0;
}

.annotation-comment.private button.comment-actions > svg {
  color: var(--font-light);
}

.annotation-comment.private button.comment-actions:hover {
  box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0.12);
}

.annotation-comment.private button.comment-actions:hover > svg {
  color: var(--font-dark);
}

.annotation-comment.private .dropdown-content {
  background-color: var(--private-bg-light);
}

.annotation-comment.private .dropdown-item[data-highlighted],
.annotation-comment.private .dropdown-checkbox-item[data-highlighted],
.annotation-comment.private .dropdown-radio-item[data-highlighted],
.annotation-comment.private .dropdown-sub-trigger[data-highlighted] {
  background-color: rgba(255, 255, 255, 0.12);  
}