---
import ProjectLayout from '@layouts/project/ProjectLayout.astro';
import { createSupabaseServerClient } from '@backend/supabaseServerClient';
import { getProject, getMyProfile} from '@backend/crud';
import { getLangFromUrl } from '@i18n';

const lang = getLangFromUrl(Astro.url);

const supabase = await createSupabaseServerClient(Astro.request, Astro.cookies);
if (!supabase)
  return Astro.redirect(`/${lang}/sign-in`);

const projectId = Astro.params.slug;

const { error, data } = await getMyProfile(supabase);

if (error) { 
  const error = await fetch(`${Astro.url}/500`);
  return new Response(error.body, { headers: error.headers, status: 500 }); 
}

const response = await getProject(supabase, projectId as string);
---
<ProjectLayout active="assignments" user={data} project={response.data}>
  {response.error ? (
    <div>Something went wrong</div>
  ) : (
    <div>Assignments</div>
  )}
</ProjectLayout>