@import './input.css';

fieldset {
  border: none;
  margin: 2.5em 0 1.5em 0;
  padding: 0;
}

form .field {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin: 0.5em 0 1.5em 0;
}

form .field label {
  display: inline-block;
  width: 100px;
}

form .field input,
form .field textarea {
  width: 320px;
}

form .field textarea {
  resize: none;
}

form select {
  display: inline-block;
  width: 320px;
  padding: 10px;
}
