.project-description {
  margin-bottom: 3em;
}

.project-description p,
.project-description textarea {
  border: 1px dashed transparent;
  border-radius: var(--border-radius);
  font-size: var(--font-small);
  line-height: 160%;
  margin: 0 0 0 -8px;
  padding: 5px 8px;
}

.project-description p {
  color: var(--font-light);
  max-width: 60ch;
  transition: all 250ms;
  white-space: pre-line;
}

.project-description p.editable:hover {
  background-color: #e6eaf1;
  border-color: var(--gray-400);
  cursor: pointer;
}

.project-description textarea {
  resize: none;
  width: 60ch;
}

.project-description .buttons button {
  border-radius: var(--border-radius);
  font-weight: 500;
  padding: 0.3em 0.5em 0.2em 0.3em;
}

.project-description .buttons button:hover:not(:disabled) {
  box-shadow: none;
  color: var(--font-dark);
  text-decoration: underline;
}

.project-description .buttons button:hover svg {
  color: var(--font-dark);
}

.project-description .buttons button:disabled,
.project-description .buttons button:disabled svg {
  color: var(--gray-400);
}

.project-description .tiny-save-indicator {
  padding-left: 5px;
} 

