.project-assignment-details {
  padding: 20px 40px;
  width: 100%;
}

.project-assignment-details .project-assignment-description {
  color: var(--font-light);
  font-size: var(--font-small);
  max-width: 60ch;
  white-space: pre-line;
}

.project-assignment-details .project-assignment-team ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-assignment-details .project-assignment-team li {
  display: inline-block;
}

.project-assignment-details .project-assignment-team li + li {
  margin-left: -7px;
}

.project-assignment-details .project-assignment-export {
  margin-top: 2em;
}

.project-assignment-details .project-assignment-document-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;  
  grid-template-columns: repeat(auto-fill, 180px);
  padding: 2em 0 40px 0;
}