.annotation-comment {
  border-top: 1px solid var(--border-color);
  padding: 15px 15px 0 15px;
  transition: background-color 1500ms;
  white-space: pre-wrap;
}

li:first-child > .annotation-comment {
  border-top: none;
}

.annotation-comment.no-border {
  border-bottom: none;
}

.annotation-comment.is-new {
  background-color: var(--emphasis-light);
  border-color: var(--emphasis-light);
}

.annotation-comment p,
.annotation-comment textarea {
  cursor: text;
  font-size: var(--font-tiny);
  line-height: 140%;
  padding: 5px 6px;
}

.annotation-comment p {
  margin: 10px 2px;
}

.annotation-comment textarea {
  border: none;
  box-shadow: 0 0 0 1px var(--input-focus-border-color);
  box-sizing: border-box;
  margin: 10px 2px 0 2px;
  overflow-y: hidden;
  resize: none;
  width: 100%;
}

.annotation-comment form .buttons {
  margin-bottom: 10px;
}

.annotation-comment .comment-actions {
  position: absolute;
  right: 5px;
  top: 12px;
}