.annotation-comment {
  border-top: 1px solid var(--border-color);
  padding: 15px 10px;
  transition: background-color 1500ms;
  white-space: pre-wrap;
}

li:first-child > .annotation-comment {
  border-top: none;
}

.annotation-comment.no-border {
  border-bottom: none;
}

.annotation-comment.is-new {
  background-color: var(--emphasis-light);
  border-color: var(--emphasis-light);
}

.annotation-comment p,
.annotation-comment textarea {
  cursor: text;
  font-size: var(--font-tiny);
  line-height: 140%;
  margin: 10px 2px 0 2px;
  padding: 2px 4px;
}

.annotation-comment textarea {
  border: none;
  overflow-y: hidden;
  resize: none;
  width: 100%;
}

.annotation-comment .comment-actions {
  position: absolute;
  right: 5px;
  top: 12px;
}